<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <div class="tx-sportms-person-show">
        <f:render arguments="{person: person}" partial="Person/Player/Navigation"/>
        <f:render arguments="{jerseysByTeamSeason: jerseysByTeamSeason}" partial="Person/Player/JerseysByTeamSeason"/>
        <f:render arguments="{jerseysByGames: jerseysByGames}" partial="Person/Player/JerseysByGames"/>
    </div>
</f:section>

</html>