<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
	<div class="tx-sportms-person-detail">
		
		<f:render arguments="{person: person}"
				  partial="Person/Player/Navigation"/>
		
		<div class="tx-sportms-person-playerjerseys">
			<f:render arguments="{jerseysByTeamSeason: jerseysByTeamSeason}"
					  partial="Person/PlayerJerseys/JerseysByTeamSeason"/>
			<f:render arguments="{jerseysByGames: jerseysByGames}"
					  partial="Person/PlayerJerseys/JerseysByGames"/>
		</div>
	
	</div>
</f:section>

</html>