<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="tx-sportms-person-in-table">
    <div class="tx-sportms-person-image">
        <f:render partial="ViewHelpers/Person/ProfileImage"
                  arguments="{personProfile: personProfile}"/>
    </div>
    <div class="tx-sportms-person-name">
        {personProfile.person.lastname} {personProfile.person.firstname}
    </div>
    <div class="tx-sportms-person-date-of-birth">
        <f:if
                condition="{personProfile.person.dateOfBirth} && {personProfile.person.showBirthday}">
            <f:then>
                <f:format.date format="{settings.format.date.long}">
                    {personProfile.person.dateOfBirth}
                </f:format.date>
            </f:then>
            <f:else>
                <span>unknown</span>
            </f:else>
        </f:if>
    </div>
</div>

</html>