<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{personProfile} && {personProfile.profileImages}">
	<f:then>
		<f:if condition="{imageHeight}">
			<f:then>
				<f:image image="{personProfile.profileImages.0}"
						 height="{imageHeight}"/>
			</f:then>
			<f:else>
				<f:image image="{personProfile.profileImages.0}" height="50"/>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{imageHeight}">
			<f:then>
				<f:render
						arguments="{imageHeight: imageHeight, person: personProfile.person}"
						partial="ViewHelpers/Person/DummyImage"/>
			</f:then>
			<f:else>
				<f:render
						arguments="{imageHeight: 50, person: personProfile.person}"
						partial="ViewHelpers/Person/DummyImage"/>
			</f:else>
		</f:if>
	</f:else>
</f:if>

</html>