<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{teamSeason}">
	<f:then>
		<div class="tx-sportms-team-in-table">
			<f:if condition="{teamSeason.detailLink} && {teamSeason.team.detailLink}">
				<f:then>
					<f:link.action action="seasonIndex"
								   arguments="{season: teamSeason.season, team: teamSeason.team}"
								   controller="Team" extensionName="Sportms"
								   pageUid="{settings.team.seasonIndex.pid}"
								   pluginName="Team">
						<f:render arguments="{teamSeason: teamSeason}"
								  partial="ViewHelpers/TeamSeason/Label"/>
					</f:link.action>
				</f:then>
				<f:else>
					<f:render arguments="{teamSeason: teamSeason}"
							  partial="ViewHelpers/TeamSeason/Label"/>
				</f:else>
			</f:if>
		</div>
	</f:then>
</f:if>

</html>