<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{teamSeason}">
    <f:then>
        <div class="tx-sportms-team-in-table">
            <f:if condition="{teamSeason.detailLink} && {teamSeason.team.detailLink}">
                <f:then>
                    <f:if condition="{teamSeason.team.detailPid}">
                        <f:then>
                            <f:variable name="actionPid" value="{teamSeason.team.detailPid}"/>
                        </f:then>
                        <f:else>
                            <f:if condition="{teamSeason.team.sport.teamDetailPid}">
                                <f:then>
                                    <f:variable name="actionPid"
                                                value="{teamSeason.team.sport.teamDetailPid}"/>
                                </f:then>
                                <f:else>
                                    <f:variable name="actionPid"
                                                value="{settings.team.detail.pid}"/>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                    <f:if condition="{teamSeason.team.detailPid}">
                        <f:then>
                            <f:link.action action="seasonIndex"
                                           arguments="{season: teamSeason.season}"
                                           controller="Team" extensionName="Sportms"
                                           pageUid="{actionPid}"
                                           pluginName="TeamDetail">
                                <f:render arguments="{teamSeason: teamSeason}"
                                          partial="ViewHelpers/TeamSeason/Label"/>
                            </f:link.action>
                        </f:then>
                        <f:else>
                            <f:link.action action="seasonIndex"
                                           arguments="{season: teamSeason.season, team: teamSeason.team}"
                                           controller="Team" extensionName="Sportms"
                                           pageUid="{actionPid}"
                                           pluginName="TeamDetail">
                                <f:render arguments="{teamSeason: teamSeason}"
                                          partial="ViewHelpers/TeamSeason/Label"/>
                            </f:link.action>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:render arguments="{teamSeason: teamSeason}"
                              partial="ViewHelpers/TeamSeason/Label"/>
                </f:else>
            </f:if>
        </div>
    </f:then>
    <f:else>
        <div class="tx-sportms-team-in-table">
            <f:if
                    condition="{team.detailLink} && {team.teamSeasons.0.detailLink}">
                <f:then>
                    <f:if condition="{team.detailPid}">
                        <f:then>
                            <f:variable name="actionPid" value="{team.detailPid}"/>
                        </f:then>
                        <f:else>
                            <f:if condition="{team.sport.teamDetailPid}">
                                <f:then>
                                    <f:variable name="actionPid"
                                                value="{team.sport.teamDetailPid}"/>
                                </f:then>
                                <f:else>
                                    <f:variable name="actionPid"
                                                value="{settings.team.detail.pid}"/>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                    <f:if condition="{team.detailPid}">
                        <f:then>
                            <f:link.action action="seasonIndex"
                                           controller="Team" extensionName="Sportms"
                                           pageUid="{actionPid}"
                                           pluginName="TeamDetail">
                                <f:render arguments="{team: team}"
                                          partial="ViewHelpers/Team/Label"/>
                            </f:link.action>
                            <f:variable name="actionPid"
                                        value="{team.detailPid}"/>
                        </f:then>
                        <f:else>
                            <f:link.action action="seasonIndex"
                                           arguments="{team: team}"
                                           controller="Team" extensionName="Sportms"
                                           pageUid="{actionPid}"
                                           pluginName="TeamDetail">
                                <f:render arguments="{team: team}"
                                          partial="ViewHelpers/Team/Label"/>
                            </f:link.action>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:render arguments="{team: team}"
                              partial="ViewHelpers/Team/Label"/>
                </f:else>
            </f:if>
        </div>
    </f:else>
</f:if>

</html>