<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th class="tx-sportms-table-center">#</th>
        <th class="tx-sportms-table-left">Person</th>
        <th class="tx-sportms-table-center">Nationalität</th>
        <th class="tx-sportms-table-center">Spiele</th>
        <th class="tx-sportms-table-center">Startformation</th>
        <th class="tx-sportms-table-center">Quote</th>
    </tr>
    </thead>
    <tbody>
    <f:if condition="{playersWithMostGames}">
        <f:then>
            <f:for as="playerWithMostGames" each="{playersWithMostGames}" iteration="iterator">
                <tr>
                    <td class="tx-sportms-table-center">{iterator.index + 1}</td>
                    <td class="tx-sportms-table-left">
                        <f:render arguments="{person: playerWithMostGames.person, settings: settings}" partial="ViewHelper/Link/Person/PlayerIndex"/>
                    </td>
                    <td class="tx-sportms-table-center">
                        <f:render arguments="{nationalities: playerWithMostGames.person.nationalities}" partial="ViewHelper/Link/Person/Nationalities"/>
                    </td>
                    <td class="tx-sportms-table-center">{playerWithMostGames.numberOfGames}</td>
                    <td class="tx-sportms-table-center">{playerWithMostGames.numberOfStartingFormation}</td>
                    <td class="tx-sportms-table-center">
                        {playerWithMostGames.numberOfStartingFormation / playerWithMostGames.numberOfGames * 100} %
                    </td>
                </tr>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td class="tx-sportms-table-center" colspan="5">Keine Rekordspieler gefunden.</td>
            </tr>
        </f:else>
    </f:if>
    </tbody>
</table>

</html>