<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th class="tx-sportms-table-center">#</th>
        <th class="tx-sportms-table-left">Person</th>
        <th class="tx-sportms-table-center">Nationalität</th>
        <th class="tx-sportms-table-center">Spiele</th>
        <th class="tx-sportms-table-center">Vorlagen</th>
        <th class="tx-sportms-table-center">Vorlagen pro Spiel</th>
    </tr>
    </thead>
    <tbody>
    <f:if condition="{playersWithMostAssists}">
        <f:then>
            <f:for as="playerWithMostAssists" each="{playersWithMostAssists}" iteration="iterator">
                <f:render arguments="{position: iterator.index, person: playerWithMostAssists, settings: settings}" partial="Team/History/PlayerWithMostAssists"/>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td class="tx-sportms-table-center" colspan="6">Keine Rekordspieler gefunden.</td>
            </tr>
        </f:else>
    </f:if>
    </tbody>
</table>

</html>