<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td class="tx-sportms-table-center">{position + 1}</td>
    <td class="tx-sportms-table-left"><f:render arguments="{person: playerStat.person, settings: settings}" partial="ViewHelper/Link/Person/PlayerIndex"/></td>
    <td class="tx-sportms-table-center"><f:render arguments="{nationalities: playerStat.person.nationalities}" partial="ViewHelper/Link/Person/Nationalities"/></td>
    <td class="tx-sportms-table-center">{playerStat.numberOfGames}</td>
    <td class="tx-sportms-table-center">{playerStat.numberOfAssists}</td>
    <td class="tx-sportms-table-center">?</td>
</tr>

</html>