<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{teamSeason}">
	<f:then>
		<div class="tx-sportms-team-in-table">
			<f:if condition="{teamSeason.detailLink} && {teamSeason.team.detailLink}">
				<f:then>
					<f:link.action action="index"
								   arguments="{teamSeason: teamSeason}"
								   controller="TeamSeason"
								   extensionName="sportms"
								   pageUid="{settings.teamSeason.index.pid}"
								   pluginName="Team">
						<f:render arguments="{teamSeason: teamSeason}"
								  partial="ViewHelper/TeamSeason/Label"/>
					</f:link.action>
				</f:then>
				<f:else>
					<f:render arguments="{teamSeason: teamSeason}"
							  partial="ViewHelper/TeamSeason/Label"/>
				</f:else>
			</f:if>
		</div>
	</f:then>
</f:if>

</html>