<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

<f:if condition="{teamSeason}">
  <f:then>
    <div class="tx-sportms-team-in-table">
      <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{teamSeason}">
        <f:render partial="ViewHelper/Club/LogoInTable" arguments="{club: teamSeason.team.club}"/>
        <div class="tx-sportms-team-label-in-table">
          {teamSeason.team.label}
        </div>
      </sportms:link.action>
    </div>
  </f:then>
</f:if>

</html>