<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:sportms="ChristianKnell\Sportms\ViewHelpers">

<f:if condition="{change}">
	<div class="tx-sportms-game-change-entry">
		<div class="tx-sportms-game-change tx-sportms-game-change-home">
			<f:if condition="{type} == home">
				<f:render arguments="{change: change}" section="change"/>
			</f:if>
		</div>
		<div class="tx-sportms-game-change-time">
			<f:if condition="{type} == home">
				<span class="tx-sportms-game-change-minute">{change.minute}'</span>
			</f:if>
		</div>
		<div class="tx-sportms-game-change-time">
			<f:if condition="{type} == guest">
				<span class="tx-sportms-game-change-minute">{change.minute}'</span>
			</f:if>
		</div>
		<div class="tx-sportms-game-change tx-sportms-game-change-guest">
			<f:if condition="{type} == guest">
				<f:render arguments="{change: change}" section="change"/>
			</f:if>
		</div>
	</div>
</f:if>

<f:section name="change">
	<f:if condition="{change.personIn}">
		<div class="tx-sportms-game-change-arrow tx-sportms-game-change-arrow-in">
			&rarr;
		</div>
		<div class="tx-sportms-game-change-person tx-sportms-game-change-person-in">
			<f:render partial="ViewHelpers/LinkAction/Person/PlayerProfile"
					  arguments="{linkLabel: 'lastname', person: change.personIn.person}"/>
		</div>
	</f:if>
	<f:if condition="{change.personOut}">
		<div class="tx-sportms-game-change-arrow tx-sportms-game-change-arrow-out">
			&larr;
		</div>
		<div class="tx-sportms-game-change-person tx-sportms-game-change-person-out">
			<f:render partial="ViewHelpers/LinkAction/Person/PlayerProfile"
					  arguments="{linkLabel: 'lastname', person: change.personOut.person}"/>
		</div>
	</f:if>
</f:section>

</html>