<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:if condition="{goal}">
	<div class="tx-sportms-game-goal">
		<div class="tx-sportms-game-goal-person tx-sportms-game-goal-person-home">
			<f:if condition="{goal.type} == home">
				<f:render arguments="{goal: goal}" section="goal"/>
			</f:if>
		</div>
		<div class="tx-sportms-game-goal-time">
			<f:if condition="{goal.type} == home">
				<span class="tx-sportms-game-goal-minute">
					{goal.minute}.
					<f:if condition="{goal.minuteAdditional}">
						+ {goal.minuteAdditional}
					</f:if>
				</span>
			</f:if>
		</div>
		<div class="tx-sportms-game-goal-score">
			<div class="tx-sportms-game-result-main">
				{goal.goalHome} : {goal.goalGuest}
			</div>
		</div>
		<div class="tx-sportms-game-goal-time">
			<f:if condition="{goal.type} == guest">
				<span class="tx-sportms-game-goal-minute">
					<f:spaceless>
						{goal.minute}.
						<f:if condition="{goal.minuteAdditional}">
							+
						</f:if>
					</f:spaceless>
				</span>
			</f:if>
		</div>
		<div class="tx-sportms-game-goal-person tx-sportms-game-goal-person-guest">
			<f:if condition="{goal.type} == guest">
				<f:render arguments="{goal: goal}" section="goal"/>
			</f:if>
		</div>
	</div>
</f:if>

<f:section name="goal">
	<div class="tx-sportms-game-goal-scorer">
		<f:if condition="{goal.scorer}">
			<f:then>
				<f:render partial="ViewHelpers/LinkAction/Person/PlayerProfile"
						  arguments="{linkLabel: 'lastname', personProfile: goal.scorer}"/>
			</f:then>
			<f:else>
				unbekannt
			</f:else>
		</f:if>
		<f:if condition="{goal.goalType}">
			<span class="tx-sportms-game-goal-type">(<f:translate
					key="tx_sportms_domain_model_gamegoal.goal_type.{goal.goalType}"/>)
			</span>
		</f:if>
		<f:if condition="{goal.ownGoal}">
			<span class="tx-sportms-game-goal-type">(Eigentor)</span>
		</f:if>
	</div>
	<div class="tx-sportms-game-goal-assist">
		<f:if condition="{goal.assist}">
			<f:then>
				<f:render partial="ViewHelpers/LinkAction/Person/PlayerProfile"
						  arguments="{linkLabel: 'lastname', personProfile: goal.assist}"/>
			</f:then>
		</f:if>
	</div>
</f:section>

</html>