<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{lineup}">
	<div class="tx-sportms-game-lineup-entry">
		<div class="tx-sportms-game-lineup-person">
			<f:render partial="ViewHelper/LinkAction/Person/PlayerProfile"
					  arguments="{linkLabel: 'lastname', person: lineup.person}"/>
		</div>
		<div class="tx-sportms-game-lineup-jerseynumber">
			<span class="tx-sportms-game-lineup-number">{lineup.jerseyNumber}</span>
		</div>
	</div>
</f:if>

</html>