<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="tx-sportms-game-trainer-entry">
	<div class="tx-sportms-game-trainer-person">
		<f:render partial="ViewHelpers/LinkAction/Person/OfficialProfile"
				  arguments="{linkLabel: 'lastname', person: trainer.person}"/>
	</div>
	<div class="tx-sportms-game-trainer-jerseynumber">
		<span class="tx-sportms-game-trainer-number">
			{trainer.person.firstname -> f:format.crop(append:
			".", maxCharacters:	1)}
		</span>
	</div>
</div>

</html>