<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="	{settings.sport.selectbox.enabled} ||
					{settings.sportAgeGroup.selectbox.enabled} ||
					{settings.sportAgeLevel.selectbox.enabled} ||
                 	{settings.competitionType.selectbox.enabled}">
	<div class="tx-sportms-filter">
		<f:form action="list" class="form-horizontal" controller="Competition"
				extensionName="Sportms" method="POST"
				pageUid="{settings.competition.list.pid}"
				pluginName="Competition">
			<f:render
					arguments="{options: sportSelectboxValues}"
					partial="Form/Select/Sport"/>
			<f:render
					arguments="{options: sportAgeGroupSelectboxValues}"
					partial="Form/Select/SportAgeGroup"/>
			<f:render
					arguments="{options: sportAgeLevelSelectboxValues}"
					partial="Form/Select/SportAgeLevel"/>
			<f:render
					arguments="{options: competitionTypeSelectboxValues}"
					partial="Form/Select/CompetitionType"/>
			<f:render partial="Form/Submit"/>
		</f:form>
	</div>
</f:if>

</html>