<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<tr>
	<td class="tx-sportms-table-center">{competition.sport.label}</td>
	<td>
		<f:render partial="ViewHelper/LinkAction/CompetitionSeason/Games"
				  arguments="{competitionSeason: competition.competitionSeasons.0, linkLabel: 'competitionLabel'}"/>
	</td>
	<td class="tx-sportms-table-center">{competition.sportAgeLevel.label}</td>
	<td class="tx-sportms-table-center">{competition.competitionType.label}</td>
	<td class="tx-sportms-table-center">
		<f:render partial="ViewHelper/LinkAction/CompetitionSeason/Games"
				  arguments="{competitionSeason: competition.competitionSeasons.0}"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render partial="ViewHelper/LinkAction/CompetitionSeason/Teams"
				  arguments="{competitionSeason: competition.competitionSeasons.0}"/>
	</td>
</tr>

</html>