<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<tr>
	<td class="tx-sportms-table-center">{competition.sport.label}</td>
	<td>
		<f:render partial="ViewHelper/LinkAction/Competition/SeasonGames"
				  arguments="{competition: competition, linkLabel: 'competitionLabel'}"/>
	</td>
	<td class="tx-sportms-table-center">{competition.sportAgeLevel.label}</td>
	<td class="tx-sportms-table-center">{competition.competitionType.label}</td>
	<td class="tx-sportms-table-center">
		<f:render partial="ViewHelper/LinkAction/Competition/SeasonGames"
				  arguments="{competition: competition}"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render partial="ViewHelper/LinkAction/Competition/SeasonTeams"
				  arguments="{competition: competition}"/>
	</td>
</tr>

</html>