<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

<tr>
    <td class="tx-sportms-table-center">
        {game.sport.label}
    </td>
    <td class="tx-sportms-table-center">
        <sportms:link.action action="gameday" controller="CompetitionSeason" CompetitionSeason="{game.competitionSeason}">
            {game.competitionSeason.competition.label}
        </sportms:link.action>
    </td>
    <td class="tx-sportms-table-center">
        {game.competitionSeason.season.abbreviation}
    </td>
    <td class="tx-sportms-table-right">
        <f:render partial="ViewHelper/TeamSeason/ItemInTable" arguments="{teamSeason: game.teamSeasonHome}"/>
    </td>
    <td class="tx-sportms-table-center">-</td>
    <td class="tx-sportms-table-left">
        <f:render partial="ViewHelper/TeamSeason/ItemInTable" arguments="{teamSeason: game.teamSeasonGuest}"/>
    </td>
    <td class="tx-sportms-table-center">
        <sportms:link.action action="index" controller="Game" Game="{game}">
            <f:render partial="ViewHelper/Game/ResultInTable" arguments="{game: game}" />
        </sportms:link.action>
    </td>
</tr>

</html>