<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

<tr>
    <td>
        {game.sport.label}
    </td>
    <td>
        <sportms:link.action action="games" controller="CompetitionSeason" CompetitionSeason="{game.competitionSeason}">{game.competitionSeason.competition.label}</sportms:link.action>
    </td>
    <td>
        {game.competitionSeason.season.label}
    </td>
    <td>
        <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{game.teamSeasonHome}">{game.teamSeasonHome.team.label}</sportms:link.action>
    </td>
    <td>-</td>
    <td>
        <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{game.teamSeasonHome}">{game.teamSeasonGuest.team.label}</sportms:link.action>
    </td>
    <td>
        <f:render partial="ViewHelper/Game/Result" arguments="{game: game}" section="default"/>
    </td>
</tr>

</html>