<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
	<td class="tx-sportms-table-center">
		{game.sport.label}
	</td>
	<td class="tx-sportms-table-center">
		{game.competitionSeason.competition.label}
	</td>
	<td class="tx-sportms-table-center">
		{game.competitionSeason.season.abbreviation}
	</td>
	<td class="tx-sportms-table-right">
		<f:render arguments="{teamSeason: game.teamSeasonHome}"
				  partial="ViewHelper/TeamSeason/ItemInTable"/>
	</td>
	<td class="tx-sportms-table-center">-</td>
	<td class="tx-sportms-table-left">
		<f:render arguments="{teamSeason: game.teamSeasonGuest}"
				  partial="ViewHelper/TeamSeason/ItemInTable"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render arguments="{game: game}"
				  partial="ViewHelper/Game/ResultInTable"/>
	</td>
</tr>

</html>