<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
	
	<div class="tx-sportms-game-detail">
		
		<f:render arguments="{game: game}" partial="Game/Header"/>
		<f:render arguments="{game: game}" partial="Game/Navigation"/>
		
		<div class="tx-sportms-game-history">
			<div class="tx-sportms-game-list">
				<h4>Bisherige Begegnungen</h4>
				<f:render arguments="{games: gamesInCompetition}"
						  partial="Game/History/List"/>
			</div>
		</div>
	
	</div>
</f:section>

</html>