<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:sportms="Balumedien\Sportms\ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
	
	<div class="tx-sportms-game-detail">
		
		<f:render arguments="{game: game}" partial="Game/Header"/>
		<f:render arguments="{game: game}" partial="Game/Navigation"/>
		
		<div class="tx-sportms-game-index">
			
			<div class="tx-sportms-game-goals">
				<h4>Tore</h4>
				<div class="tx-sportms-game-container">
					<f:if condition="{game.gameGoals}">
						<f:then>
							<f:for as="goal" each="{game.gameGoals}">
								<f:render
										arguments="{goal: goal}"
										partial="Game/Index/Goal"/>
							</f:for>
						</f:then>
						<f:else>
							<div class="tx-sportms-game-goal tx-sportms-game-goal-none">
								<f:translate
										key="tx_sportms_repository.game.none"/>
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
			
			<div class="tx-sportms-game-lineup-start">
				<h4>Startaufstellung</h4>
				<div class="tx-sportms-game-container">
					<f:if condition="{game.gameLineupHomeStarts} || {game.gameLineupGuestStarts}">
						<f:then>
							<div class="tx-sportms-game-lineup-home">
								<f:for as="lineup"
									   each="{game.gameLineupHomeStarts}">
									<f:render arguments="{lineup: lineup}"
											  partial="Game/Index/Lineup"/>
								</f:for>
							</div>
							<div class="tx-sportms-game-lineup-guest">
								<f:for as="lineup"
									   each="{game.gameLineupGuestStarts}">
									<f:render arguments="{lineup: lineup}"
											  partial="Game/Index/Lineup"/>
								</f:for>
							</div>
						</f:then>
						<f:else>
							<div class="tx-sportms-game-lineup tx-sportms-game-lineup-none">
								<f:translate
										key="tx_sportms_repository.game.lineup.none"/>
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
			
			<div class="tx-sportms-game-trainer">
				<h4>Trainer</h4>
				<div class="tx-sportms-game-container">
					<f:if
							condition="{game.trainerHome} || {game.teamSeasonHome.teamSeasonCheftrainers} || {game.trainerGuest} || {game.teamSeasonGuest.teamSeasonCheftrainers}">
						<f:then>
							<div class="tx-sportms-game-trainer-home">
								<f:if condition="{game.trainerHome}">
									<f:then>
										<f:render partial="Game/Index/Trainer"
												  arguments="{trainer: game.trainerHome}"/>
									</f:then>
									<f:else>
										<f:if
												condition="{game.teamSeasonHome.teamSeasonCheftrainers}">
											<f:then>
												<f:for
														each="{game.teamSeasonHome.teamSeasonCheftrainers}" as="cheftrainer">
													<f:render partial="Game/Index/Trainer"
															  arguments="{trainer: cheftrainer.person}"/>
												</f:for>
											</f:then>
										</f:if>
									</f:else>
								</f:if>
							</div>
							<div class="tx-sportms-game-trainer-guest">
								<f:if condition="{game.trainerGuest}">
									<f:render partial="Game/Index/Trainer"
											  arguments="{trainer: game.trainerGuest}"/>
								</f:if>
							</div>
						</f:then>
						<f:else>
							<div
									class="tx-sportms-game-trainer-none">
								<f:translate
										key="tx_sportms_repository.game.trainer.none"/>
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
			
			<div class="tx-sportms-game-lineup-substitute">
				<h4>Reservebank</h4>
				<div class="tx-sportms-game-container">
					<f:if condition="{game.gameLineupHomeSubstitutes} || {game.gameLineupGuestSubstitutes}">
						<f:then>
							<div class="tx-sportms-game-lineup-home">
								<f:for as="lineup"
									   each="{game.gameLineupHomeSubstitutes}">
									<f:render arguments="{lineup: lineup}"
											  partial="Game/Index/Lineup"/>
								</f:for>
							</div>
							<div class="tx-sportms-game-lineup-guest">
								<f:for as="lineup"
									   each="{game.gameLineupGuestSubstitutes}">
									<f:render arguments="{lineup: lineup}"
											  partial="Game/Index/Lineup"/>
								</f:for>
							</div>
						</f:then>
						<f:else>
							<div
									class="tx-sportms-game-substitute tx-sportms-game-substitute-none">
								<f:translate
										key="tx_sportms_repository.game.substitute.none"/>
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
			
			<div class="tx-sportms-game-changes">
				<h4>Wechsel</h4>
				<div class="tx-sportms-game-container">
					<f:if condition="{game.gameChanges}">
						<f:then>
							<f:for as="change" each="{game.gameChanges}">
								<sportms:PersonInTeamSeason
										person="{change.personIn}"
										teamSeason="{game.teamSeasonHome}">
									<f:then>
										<f:render
												arguments="{change: change, type: 'home'}"
												partial="Game/Index/Change"/>
									</f:then>
									<f:else>
										<sportms:PersonInTeamSeason
												person="{change.personIn}"
												teamSeason="{game.teamSeasonGuest}">
											<f:then>
												<f:render
														arguments="{change: change, type: 'guest'}"
														partial="Game/Index/Change"/>
											</f:then>
											<f:else>
												<f:comment>
													# TODO: think of a senseful
													error
													message
												</f:comment>
											</f:else>
										</sportms:PersonInTeamSeason>
									</f:else>
								</sportms:PersonInTeamSeason>
							</f:for>
						</f:then>
						<f:else>
							<div
									class="tx-sportms-game-change tx-sportms-game-change-none">
								<f:translate
										key="tx_sportms_repository.gamechange.none"/>
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
		
		</div>
	
	</div>
</f:section>

</html>