<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
	
	<div class="tx-sportms-game-detail">
		
		<f:render arguments="{game: game}" partial="Game/Header"/>
		<f:render arguments="{game: game}" partial="Game/Navigation"/>
		
		<div class="tx-sportms-game-report">
			
			<f:if condition="{game.gameReports}">
				<f:then>
					<f:render arguments="{report: game.gameReports.0}"
							  partial="Game/Report/Report"/>
				</f:then>
				<f:else>
					Leider kein Spielbericht vorhanden
				</f:else>
			</f:if>
		
		</div>
	
	</div>

</f:section>

</html>