<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    
    <div class="tx-sportms-game-detail">
        
        <f:render arguments="{game: game}" partial="Game/Header"/>
        <f:render arguments="{game: game}" partial="Game/Navigation"/>
        
        <div class="tx-sportms-game-report">
            
            <f:if condition="{game.gameReport}">
                <f:then>
                    <h3>
                        <f:format.raw>{game.gameReport.headline}</f:format.raw>
                    </h3>
                    <f:format.html>{game.gameReport.text}</f:format.html>
                    <p>von {game.gameReport.author}
                        <f:spaceless>
                            (
                            <f:format.date format="{settings.format.date.long}">
                                {game.gameReport.date}
                            </f:format.date>
                            )
                        </f:spaceless>
                    </p>
                </f:then>
                <f:else>
                    <f:comment>
                        <!-- TODO: USE LOCALIZATION -->
                    </f:comment>
                    Leider kein Spielbericht vorhanden
                </f:else>
            </f:if>
        
        </div>
    
    </div>

</f:section>

</html>