<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <f:render arguments="{_all}" partial="Game/Navigation"/>
    <div class="tx-sportms-game-showindex">

        <div class="tx-sportms-game-lineup">
            <h4>Aufstellung</h4>
            <f:for each="{game.gameLineups}" as="lineup">
                <f:debug>{lineup}</f:debug>
            </f:for>
        </div>

        <div clas="tx-sportms-game-goals">
            <h4>Tore</h4>
            <f:for each="{game.gameGoals}" as="goal">
                <f:debug>{goal}</f:debug>
            </f:for>
        </div>

        <div clas="tx-sportms-game-changes">
            <h4>Wechsel</h4>
            <f:for each="{game.gameChanges}" as="change">
                <f:debug>change</f:debug>
            </f:for>
        </div>

        <f:debug>{game}</f:debug>
    </div>
</f:section>

</html>