<f:if condition="{clubs}">
	<table>
		<tr>
			<th><f:translate key="tx_clubms_domain_model_club.image"/></th>
			<th><f:translate key="tx_clubms_domain_model_club.name"/></th>
			<th><f:translate key="tx_clubms_domain_model_club.colours"/></th>
			<th>Gründung</th>
			<th><f:translate key="tx_clubms_domain_model_club.clubMembers"/></th>
			<th><f:translate key="tx_clubms_domain_model_club.clubSections"/></th>
			<th>Einzelansicht</th>
		</tr>
		<f:for each="{clubs}" as="club">
			<f:debug>{club}</f:debug>
			<tr>
				<td><f:if condition="{club.images.0}"><f:image src="{club.images.0.uid}" width="150" height="100" treatIdAsReference="1" /></f:if></td>
				<td>{club.name}</td>
				<td>{club.colours}</td>
				<td>
					<f:if condition="{club.dateOfFounding}">
						<f:then>
							<f:format.date format="d.m.Y">{club.dateOfFounding}</f:format.date>
						</f:then>
						<f:else>
							<f:if condition="{club.yearOfFounding}">
								{club.yearOfFounding}
							</f:if>
						</f:else>
					</f:if>
				</td>
				<td><f:count>{club.clubMembers}</f:count></td>
				<td>{club.clubSections}</td>
				<td>
					<f:if condition="{club.detailLink}">
						<f:link.action action="detail" arguments="{uid: club}">LINK</f:link.action>
					</f:if>
				</td>
			</tr>
		</f:for>
	</table>
</f:if>