<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">



    <table>
        <tr>
            <th>Funktion</th>
            <th>Person</th>
            <th>Amtsantritt</th>
            <th>Amtsende</th>
            <th>Amtszeit</th>
        </tr>
        <f:for each="{clubOfficials}" as="clubOfficial">
            <tr>

                <td class="club-official-officialjob">{clubOfficial.clubOfficialJob.label}</td>

                <td class="club-official-person"><f:link.action action="show" controller="Person" additionalParams="{tx_clubms_clubms: '{person: clubOfficial.person, profile: \"official\"}'}" pageUid="{settings.person.showPid}">{clubOfficial.person.firstname} {clubOfficial.person.lastname}</f:link.action></td>

                <td class="club-official-startdate">
                    <f:if condition="{clubOfficial.startdate}">
                        <f:then>
                            <f:format.date format="d.m.Y">{clubOfficial.startdate}</f:format.date>
                        </f:then>
                        <f:else>
                            unbekannt
                        </f:else>
                    </f:if>
                </td>

                <td class="club-official-enddate">
                    <f:if condition="{clubOfficial.enddate}">
                        <f:then>
                            <f:format.date format="d.m.Y">{clubOfficial.enddate}</f:format.date>
                        </f:then>
                        <f:else>
                            -
                        </f:else>
                    </f:if>
                </td>

                <td class="club-official-duration">
                    <f:if condition="{clubOfficial.enddate}">
                        <f:then>
                            <f:format.date format="d" base="{clubOfficial.enddate}">-{clubOfficial.startdate}</f:format.date> Tage
                        </f:then>
                        <f:else>
                            -
                        </f:else>
                    </f:if>
                </td>

            </tr>
        </f:for>
    </table>

</html>