<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:clubms="Balumedien\Clubms\ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default" />

<f:section name="default">

    <f:if condition="{settings.clubsSelectbox}">
        <f:form controller="Club" action="officials">
            <f:form.select name="clubs" prependOptionValue="" prependOptionLabel="Alle" options="{clubOfficials}" optionValueField="club.uid" optionLabelField="club.name"/>
            <f:form.submit value="Los"/>
        </f:form>
    </f:if>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Funktion</th>
                <th>Person</th>
                <th>Amtsantritt</th>
                <th>Amtsende</th>
                <th>Amtszeit</th>
            </tr>
            </thead>
            <tbody>
            <f:if condition="{clubOfficials}">
                <f:then>
                    <f:for each="{clubOfficials}" as="clubOfficial">
                        <tr>

                            <td class="club-official-officialjob">{clubOfficial.clubOfficialJob.label}</td>

                            <td class="club-official-person"><f:link.action action="show" controller="Person" additionalParams="{tx_clubms_clubms: '{person: clubOfficial.person, profile: \"official\"}'}" pageUid="{settings.person.showPid}">{clubOfficial.person.firstname} {clubOfficial.person.lastname}</f:link.action></td>

                            <td class="club-official-startdate">
                                <f:if condition="{clubOfficial.startdate}">
                                    <f:then>
                                        <f:format.date format="d.m.Y">{clubOfficial.startdate}</f:format.date>
                                    </f:then>
                                    <f:else>
                                        unbekannt
                                    </f:else>
                                </f:if>
                            </td>

                            <td class="club-official-enddate">
                                <f:if condition="{clubOfficial.enddate}">
                                    <f:then>
                                        <f:format.date format="d.m.Y">{clubOfficial.enddate}</f:format.date>
                                    </f:then>
                                    <f:else>
                                        -
                                    </f:else>
                                </f:if>
                            </td>

                            <td class="club-official-duration">
                                <f:if condition="{clubOfficial.startdate}">
                                    <f:then>
                                        <clubms:DateRange startdate="{clubOfficial.startdate}" enddate="{clubOfficial.enddate}" format="%a"/> Tage
                                    </f:then>
                                    <f:else>
                                        -
                                    </f:else>
                                </f:if>
                            </td>

                        </tr>
                    </f:for>
                </f:then>
                <f:else>
                    <tr><td colspan="5">Keine Funktionäre gefunden</td></tr>
                </f:else>
            </f:if>
            </tbody>
        </table>
    </div>

</f:section>

</html>