<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default" />

<f:section name="default">
	<div class="tx-sportms-club-detail">
		<div class="tx-sportms-club-sections">
			<f:if condition="{club.clubSections}">
				<f:then>
					<div class="row">
						<f:for as="clubSection" each="{club.clubSections}">
							<div class="col-sm-12 col-md-6 col-lg-4 mb-5 d-flex">
								<div class="card shadow h-100 w-100">
									<f:if condition="{clubSection.urls}">
										<f:then>
											<f:link.typolink parameter="{clubSection.urls.0.url}">
												<f:render section="card-content"
													arguments="{clubSection: clubSection}" />
											</f:link.typolink>
										</f:then>
										<f:else>
											<f:render section="card-content" arguments="{clubSection: clubSection}" />
										</f:else>
									</f:if>
								</div>
							</div>
						</f:for>
					</div>
				</f:then>
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="card-content">
	<f:if condition="{clubSection.images}">
		<f:then>
			<f:for as="image" each="{clubSection.images}" iteration="iterator">
				<f:if condition="{iterator.isFirst}">
					<div class="image overflow-hidden rounded-top">
						<f:image class="card-img card-img-top rounded-top" height="300c" image="{image}"/>
					</div>
				</f:if>
			</f:for>
		</f:then>
		<f:else></f:else>
	</f:if>
	<div class="card-body d-flex flex-column flex-grow-1">
		<h3 class="h5 card-title mb-0 p-0">{clubSection.label}</h3>
		<p class="card-text flex-grow-1">
			<f:format.html>{clubSection.description}</f:format.html>
		</p>
	</div>
</f:section>

</html>