<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default" />

<f:section name="default">
	<div class="tx-sportms-club-detail">
		<div class="tx-sportms-club-sections">
			<f:if condition="{club.clubSections}">
				<f:then>
					<div class="container">
						<div class="row">
							<f:for as="clubSection" each="{club.clubSections}">
								<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
									<div class="card shadow">
										<a href="">
											<f:if condition="{clubSection.images}">
												<f:then>
													<f:for as="image" each="{clubSection.images}" iteration="iterator">
														<f:if condition="{iterator.isFirst}">
															<div class="image">
																<f:image class="card-img-top rounded-top" height="200c" image="{image}" width="350c" />
															</div>
														</f:if>
													</f:for>
												</f:then>
												<f:else></f:else>
											</f:if>
											<div class="card-body">
												<h3 class="h5 card-title">{clubSection.label}</h3>
												<p class="card-text">{clubSection.description}</p>
											</div>
										</a>
									</div>
								</div>
							</f:for>
						</div>
					</div>
				</f:then>
			</f:if>
		</div>
	</div>






	<div class="table-responsive">
		<table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
			<tbody>
				<f:if condition="{club.clubSections}">
					<f:then>
						<f:for as="clubSection" each="{club.clubSections}">
							<tr>
								<td>
									<f:if condition="{clubSection.phones}">
										<f:then>
											<f:link.external defaultScheme="tel" target="_blank"
												uri="{clubSection.phones.0.areaCode} {clubSection.phones.0.callingNumber}">
												{clubSection.phones.0.areaCode}
												/
												{clubSection.phones.0.callingNumber}
											</f:link.external>
										</f:then>
										<f:else>
											<div class="tx-sportms-table-center">
												-
											</div>
										</f:else>
									</f:if>
								</td>
								<td>
									<f:if condition="{clubSection.urls}">
										<f:then>
											<f:link.external target="_blank" uri="{clubSection.urls.0.url}">
												{clubSection.urls.0.url}
											</f:link.external>
										</f:then>
										<f:else>
											<div class="tx-sportms-table-center">
												-
											</div>
										</f:else>
									</f:if>
								</td>
							</tr>
							<f:if condition="{section.urls} && {section.images} && {section.section.label}">
								<div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 abteilungsaufzaehlung-outer">
									<div class="abteilungsaufzaehlung-inner">
										<f:for as="url" each="{section.urls}" iteration="iterator">
											<f:if condition="{iterator.isFirst}">
												<f:link.typolink parameter="{url.url}">
													<f:for as="image" each="{section.images}" iteration="iterator2">
														<f:if condition="{iterator2.isFirst}">
															<div class="image">
																<f:image height="200c" image="{image}" width="350c" />
															</div>
														</f:if>
													</f:for>
													<div class="info">
														{section.section.label}
													</div>
												</f:link.typolink>
											</f:if>
										</f:for>
									</div>
								</div>
							</f:if>
						</f:for>
					</f:then>
				</f:if>
			</tbody>
		</table>
	</div>
	</div>
	</div>
</f:section>

</html>