<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default" />

<f:section name="default">
	<div class="tx-sportms-club-detail">
		<div class="tx-sportms-club-sections">
			<f:if condition="{club.clubSections}">
				<f:then>
					<div class="container">
						<div class="row">
							<f:for as="clubSection" each="{club.clubSections}">
								<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-5">
									<div class="card shadow">
										<f:if condition="{clubSection.urls}">
											<f:then>
												<f:debug>{clubSection.urls}</f:debug>
												<f:link.page uri="{clubSection.urls.0.url}">
													<f:render section="card-content" arguments="{clubSection: clubSection}" />
												</f:link.page>
											</f:then>
											<f:else>
												<f:render section="card-content" arguments="{clubSection: clubSection}" />
											</f:else>
										</f:if>
									</div>
								</div>
							</f:for>
						</div>
					</div>
				</f:then>
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="card-content">
	<f:if condition="{clubSection.images}">
		<f:then>
			<f:for as="image" each="{clubSection.images}" iteration="iterator">
				<f:if condition="{iterator.isFirst}">
					<div class="image overflow-hidden">
						<f:image class="card-img-top rounded-top" height="200c" image="{image}" width="350c" />
					</div>
				</f:if>
			</f:for>
		</f:then>
		<f:else></f:else>
	</f:if>
	<div class="card-body">
		<h3 class="h5 card-title mb-0 p-0">{clubSection.label}</h3>
		<p class="card-text">
			<f:format.html>{clubSection.description}</f:format.html>
		</p>
	</div>
</f:section>

</html>