<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <div id="tx-clubms-club-show">
        <f:render arguments="{_all}" partial="Club/ShowNavigation"/>
        <f:render arguments="{_all}" section="{settings.club.showView.current}"/>
    </div>
</f:section>

<f:section name="index">
    <f:render arguments="{_all}" partial="Club/ShowIndex"/>
</f:section>

<f:section name="officials">
    <f:render arguments="{_all}" partial="Club/ShowOfficials"/>
</f:section>

<f:section name="sections">
    <f:render arguments="{_all}" partial="Club/ShowSections"/>
</f:section>

</html>