<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
	<td class="tx-sportms-table-left">
		<f:render partial="ViewHelper/LinkAction/Club/Sections"
				  arguments="{club: club, linkLabel: 'clubLogoAndLabel'}"/>
	</td>
	<td>
		<f:render arguments="{address: club.addresses.0}"
				  partial="ViewHelper/Contact/Address"/>
	</td>
	<td>
		<f:if condition="{club.phones}">
			<f:then>
				Tel.:
				<f:for each="{club.phones}" as="phone">
					<f:render partial="ViewHelper/Contact/Phone"
							  arguments="{phone: phone}"/>
				</f:for>
				<br/>
			</f:then>
		</f:if>
		<f:if condition="{club.mails}">
			<f:then>
				Mail:
				<f:for each="{club.mails}" as="mail">
					<f:render partial="ViewHelper/Contact/Mail"
							  arguments="{mail: mail}"/>
				</f:for>
				<br/>
			</f:then>
		</f:if>
		<f:if condition="{club.urls}">
			<f:then>
				Web:
				<f:for each="{club.urls}" as="url">
					<f:render partial="ViewHelper/Contact/Url"
							  arguments="{url: url}"/>
				</f:for>
			</f:then>
		</f:if>
		<f:if condition="!{club.phones} && !{club.mails} && !{club.urls}">
			<div class="tx-sportms-table-center">-</div>
		</f:if>
	</td>
</tr>

</html>