<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <tr>
        <td>{person.lastname}</td>
        <td>{person.firstname}</td>
        <td>{person.nickname}</td>
        <td>
            <f:render arguments="{nationalities: person.nationalities}" partial="ViewHelper/Person/Nationalities"/>
        </td>
        <td>
            <sportms:link.action action="playerProfile" controller="Person" Person="{person}" arguments="{profile: person.personProfiles.0.profileType, section: person.personProfiles.0.section}">LINK</sportms:link.action>
        </td>
    </tr>

</html>