<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
	<td>
		<f:render partial="ViewHelpers/Person/ItemInTable"
				  arguments="{person: person}"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render arguments="{nationalities: person.nationalities}"
				  partial="ViewHelpers/Person/Nationalities"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:if condition="{person.personProfiles}">
			<f:then>
				<f:for each="{person.personProfiles}" as="personProfile">
					<f:if
							condition="{personProfile.profileType} == player && {personProfile.mainSportPositionGroup}">
						<f:then>
							{personProfile.mainSportPositionGroup.label}
							<f:variable name="sportPositionGroupFound"
										value="true"/>
						</f:then>
					</f:if>
				</f:for>
				<f:if condition="!{sportPositionGroupFound}">-</f:if>
			</f:then>
			<f:else>
				-
			</f:else>
		</f:if>
	</td>
</tr>

</html>