<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th class="tx-sportms-section-label">Abteilung</th>
            <th class="tx-sportms-club-name">Verein</th>
            <th class="tx-sportms-section-label">Vereinsabteilung</th>
            <th class="tx-sportms-clubsection-teams">Mannschaften</th>
        </tr>
        </thead>
        <tbody>
        <f:if condition="{clubSections}">
            <f:then>
                <f:for as="clubSection" each="{clubSections}">
                    <f:render arguments="{clubSection: clubSection, settings: settings}" partial="ClubSection/ListItem"/>
                </f:for>
            </f:then>
            <f:else>
                <td colspan="4">Keine Vereinsabteilungen gefunden.</td>
            </f:else>
        </f:if>
        </tbody>
    </table>
</div>

</html>