<html data-namespace-typo3-fluid="true"
      xmlns:clubms="Balumedien\Clubms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td>
        <clubms:link.action ClubSection="{clubSection}">{clubSection.section.label}</clubms:link.action>
    </td>
    <td>
        <clubms:link.action Club="{clubSection.club}">{clubSection.club.name}</clubms:link.action>
    </td>
    <td>
        <clubms:link.action ClubSection="{clubSection}">{clubSection.section.label}</clubms:link.action>
    </td>
    <td>
        <clubms:link.action action="list" arguments="{club: clubSection.club, section: clubSection.section}" controller="Team">
            <f:count>{clubSection.teams}</f:count>
        </clubms:link.action>
    </td>
</tr>

</html>