<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
	<td class="tx-sportms-table-left">
		<f:render arguments="{teamSeason: teamSeason}"
				  partial="ViewHelpers/TeamSeason/ItemInTable"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:count>{teamSeason.teamSeasonSquadMembers}</f:count>
	</td>
	<td class="tx-sportms-table-center">
		<f:render partial="ViewHelpers/LinkAction/Team/SeasonGamesByDate"
				  arguments="{season: teamSeason.season, team: teamSeason.team}"/>
	</td>
</tr>

</html>