<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="tx-sportms-filter">
    <f:form action="historyOfficials" arguments="{team: team}" class="form-horizontal" controller="Team" extensionName="sportms" method="POST" noCache="TRUE" noCacheHash="TRUE" pageUid="{settings.team.historyOfficials.pid}" pluginName="sportms">
        <f:render arguments="{options: officialJobsSelectbox,             settings: settings,     value: settings.season.selected}" partial="Form/Select/TeamSeasonOfficialJob"/>
        <f:render partial="Form/Submit"/>
    </f:form>
</div>

</html>