<div id="tx-clubms-container">

    <div class="tx-clubms-teamseason-show">

        <div class="tx-clubms-teamseason-image"><f:image image="{teamSeason.teamSeasonImages.0}"/></div>

        <f:render partial="TeamSeason/Practices" arguments="{practices: teamSeason.teamSeasonPractices}" />

        <f:if condition="{teamSeason.teamSeasonOfficials}">
            <div class="tx-clubms-teamseason-officials">
            </div>
        </f:if>


        <f:if condition="{teamSeason.teamSeasonSquadMembers}">
            <div class="tx-clubms-teamseason-squad">
                <f:groupedFor each="{teamSeason.teamSeasonSquadMembers}" as="squadMembersByPosition" groupBy="sectionPositionGroup" groupKey="sectionPositionGroup">
                    <div class="tx-clubms-teamseason-squad-position col-xs-12"><h3>{sectionPositionGroup.label}</h3></div>
                    <f:for each="{squadMembersByPosition}" as="squadMember">
                        <f:render partial="TeamSeason/SquadMember" arguments="{squadMember: squadMember}" />
                    </f:for>
                </f:groupedFor>
                <f:for each="{teamSeason.teamSeasonSquadMembers}" as="squadMember">
                    <f:render partial="TeamSeason/SquadMember" arguments="{squadMember: squadMember}" />
                </f:for>
            </div>
        </f:if>

        <f:if condition="{teamSeason.teamSeasonSquadCaptains}">
            <div class="tx-clubms-teamseason-squad-captains">
            </div>
        </f:if>

    </div>

</div>