<div id="tx-clubms-container">

    <div class="tx-clubms-team-season-show">

        <div class="tx-clubms-team-season-image"><f:image image="{teamSeason.teamSeasonImages.0}"/></div>

        <f:render partial="TeamSeason/Practices" arguments="{practices: teamSeason.teamSeasonPractices}" />

        <f:if condition="{teamSeason.teamSeasonOfficials}">
            <div class="tx-clubms-team-season-officials">
            </div>
        </f:if>


        <f:if condition="{teamSeason.teamSeasonSquadMembers}">
            <f:debug>{teamSeason.teamSeasonSquadMembers}</f:debug>
            <div class="tx-clubms-team-season-squad">
                <f:groupedFor each="{teamSeason.teamSeasonSquadMembers}" as="squadMembersByPosition" groupBy="sectionPositionGroup" groupKey="sectionPositionGroup">
                    {section_position_group}
                    <f:for each="{squadMembersByPosition}" as="squadMember">
                        <f:render partial="TeamSeason/SquadMember" arguments="{squadMember: squadMember}" />
                    </f:for>
                </f:groupedFor>
                <f:for each="{teamSeason.teamSeasonSquadMembers}" as="squadMember">
                    <f:render partial="TeamSeason/SquadMember" arguments="{squadMember: squadMember}" />
                </f:for>
            </div>
        </f:if>

        <f:if condition="{teamSeason.teamSeasonSquadCaptains}">
            <div class="tx-clubms-team-season-squad-captains">
            </div>
        </f:if>

    </div>

</div>