<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td>
        <sportms:link.action action="index" controller="Club" Club="{teamSeason.team.club}">{teamSeason.team.club.name}</sportms:link.action>
    </td>
    <td>
        <sportms:link.action action="index" controller="ClubSection" ClubSection="{teamSeason.team.clubSection}">{teamSeason.team.clubSection.section.label}</sportms:link.action>
    </td>
    <td>
        <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{teamSeason}">{teamSeason.team.name}</sportms:link.action>
    </td>
    <td>{teamSeason.team.sectionAgeLevel.label}</td>
    <td>
        <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{teamSeason}">{teamSeason.season.label}</sportms:link.action>
    </td>
</tr>

</html>