<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">

    <div class="tx-clubms-competition-list">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.section"/>
                </th>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.name"/>
                </th>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.ageLevel"/>
                </th>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.competitionType"/>
                </th>
                <th>Wettbewerbsinstanzen</th>
            </tr>
            </thead>
            <tbody>
            <f:if condition="{competitions}">
                <f:then>
                    <f:for as="competition" each="{competitions}">
                        <tr>
                            <td><f:link.action action="show" controller="Section" pageUid="{settings.section.showPid}" arguments="{section: competition.section}">{competition.section.label}</f:link.action></td>
                            <td><f:link.action action="show" controller="Competition" pageUid="{settings.competition.showPid}" arguments="{competition: competition}">{competition.name}</f:link.action></td>
                            <f:debug>{competition.sectionAgeLevel}</f:debug>
                            <td>{competition.sectionAgeLevel.label}</td>
                            <td>{competition.competitionType.label}</td>
                            <td><f:count>{competition.competitionSeasons}</f:count></td>
                        </tr>
                    </f:for>
                </f:then>
                <f:else>
                    <td colspan="5">Keine Wettbewerbe gefunden.</td>
                </f:else>
            </f:if>
            </tbody>
        </table>
    </div>

</f:section>

</html>