<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <div id="tx-sportms-competition-list">
        <f:render arguments="{_all}" partial="Competition/List/Filter"/>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
                <thead>
                    <tr>
                        <th>
                            <f:translate key="tx_sportms_domain_model_competition.sport"/>
                        </th>
                        <th>
                            <f:translate key="tx_sportms_domain_model_competition.label"/>
                        </th>
                        <th>
                            <f:translate key="tx_sportms_domain_model_competition.ageLevel"/>
                        </th>
                        <th>
                            <f:translate key="tx_sportms_domain_model_competition_type"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <f:if condition="{competitions}">
                    <f:then>
                        <f:for as="competition" each="{competitions}">
                            <f:render partial="Competition/List/Item" arguments="{competition: competition}"/>
                        </f:for>
                    </f:then>
                    <f:else>
                        <td colspan="4">Keine Wettbewerbe gefunden.</td>
                    </f:else>
                </f:if>
                </tbody>
            </table>
        </div>
    </div>
</f:section>

</html>