<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">

    <f:if condition="{competitions}">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.name"/>
                </th>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.short"/>
                </th>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.section"/>
                </th>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.ageLevel"/>
                </th>
                <th>
                    <f:translate key="tx_clubms_domain_model_competition.competitionType"/>
                </th>
                <th>Einzelansicht</th>
            </tr>
            <f:for as="competition" each="{competitions}">
                <f:debug>{competition}</f:debug>
                <tr>
                    <td>{competition.name}</td>
                    <td>{competition.short}</td>
                    <td>{competition.section.label}</td>
                    <td>{competition.ageLevel.label}</td>
                    <td>{competition.competitionType}</td>
                    <td>
                        <f:link.action action="detail" arguments="{uid: competition}">LINK</f:link.action>
                    </td>
                </tr>
            </f:for>
        </table>
    </f:if>

</f:section>

</html>