<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<h4>Rückennummern nach Mannschaften</h4>
<div>Diese Statistik zeigt, welche Rückennummer der Person in verschiedenen
	 Mannschaften zugeordnet war.
</div>

<table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
	<thead>
	<tr>
		<th>Saison</th>
		<th>Mannschaft</th>
		<th>Rückennummer</th>
	</tr>
	</thead>
	<tbody>
	<f:if condition="{jerseysByTeamSeason}">
		<f:then>
			<f:debug>{jerseysByTeamSeason}</f:debug>
			<f:for as="jerseyByTeamSeason" each="{jerseysByTeamSeason}">
				<tr>
					<td>{jerseyByTeamSeason.teamSeason.season.label}</td>
					<td>
						<f:render
								partial="ViewHelper/LinkAction/TeamSeason/Index"
								arguments="{linkLabel: 'team', teamSeason: jerseyByTeamSeason.teamSeason}"/>
					</td>
					<td>{jerseyByTeamSeason.squadNumber}</td>
				</tr>
			</f:for>
		</f:then>
		<f:else>
			<tr>
				<td colspan="3">Keine Zuordnungen gefunden.</td>
			</tr>
		</f:else>
	</f:if>
	</tbody>
</table>

</html>