<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td>
        <f:if condition="{venue.club}">
            <f:then>
                <sportms:link.action Club="{venue.club}">{venue.club.name}</sportms:link.action>
            </f:then>
            <f:else>
                -
            </f:else>
        </f:if>
    </td>
    <td>
        <sportms:link.action Venue="{venue}">{venue.name}</sportms:link.action>
    </td>
    <td>
        <f:render arguments="{address: venue.address}" partial="Address/Show"/>
    </td>
</tr>

</html>