<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Verein</th>
            <th>Bezeichnung</th>
            <th>Adresse</th>
        </tr>
        </thead>
        <tbody>
        <f:if condition="{venues}">
            <f:then>
                <f:for as="venue" each="{venues}">
                    <f:render partial="Venue/ListItem" arguments="{_all}"></f:render>
                </f:for>
            </f:then>
            <f:else>
                <td colspan="3">Keine Sportstätten gefunden</td>
            </f:else>
        </f:if>
        </tbody>
    </table>
</div>

</html>