<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{url}">
    <f:then>
        <f:if condition="{url.public}">
            <f:then>
                <f:link.external uri="{url.url}" target="_blank">{url.url}</f:link.external>
            </f:then>
            <f:else>
                <f:render section="nourl"/>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:render section="nourl"/>
    </f:else>
</f:if>

<f:section name="nourl">
    <div class="tx-sportms-table-center">-</div>
</f:section>

</html>