<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="tx-sportms-teamseason-squadmember col-xs-4 col-sm-3 col-md-3">
	<div class="tx-sportms-teamseason-squadmember-wrapper">
		<div class="squadmember-image">
			<f:render
					arguments="{imageHeight: 512, personProfile: squadCaptain}"
					partial="ViewHelpers/Person/ProfileImage"/>
		</div>
		<div class="squadmember-info">
			<div class="squadmember-jerseynumber">
				{position+1}.
			</div>
			<div class="squadmember-name">
				<span class="squadmember-firstname">
					{squadCaptain.person.firstname}
				</span>
				<span class="squadmember-lastname">
					{squadCaptain.person.lastname}
				</span>
			</div>
		</div>
		<f:comment>
			# TODO: close sportms-action ViewHelper here
		</f:comment>
	</div>
</div>

</html>