<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <f:render arguments="{_all}" partial="Team/History/RecordPlayersFilter"/>
    <div class="tx-sportms-team-history-recordplayer">
        <h3>Die meisten Spiele</h3>
        <f:debug>{playersWithMostGames}</f:debug>
        <f:render arguments="{playersWithMostGames: playersWithMostGames, settings: settings}" partial="Team/History/PlayersWithMostGames" />
    </div>
    <div class="tx-sportms-team-history-recordplayer">
        <h3>Die meisten Tore</h3>
        <f:render arguments="{playersWithMostGoals: playersWithMostGoals, settings: settings}" partial="Team/History/PlayersWithMostGoals" />
    </div>
    <div class="tx-sportms-team-history-recordplayer">
        <h3>Die meisten Vorlagen</h3>
        <f:render arguments="{playersWithMostAssists: playersWithMostAssists, settings: settings}" partial="Team/History/PlayersWithMostAssists" />
    </div>
</f:section>

</html>