<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <f:render arguments="{_all}" partial="Team/History/RecordGamesFilter"/>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die höchsten Siege</h3>
        <f:render arguments="{games: gamesWithHighestWins, settings: settings, team: team}" partial="Team/History/RecordGames" />
    </div>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die höchsten Niederlagen</h3>
        <f:render arguments="{games: gamesWithHighestLosts, settings: settings, team: team}" partial="Team/History/RecordGames" />
    </div>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die meisten Tore</h3>
        <f:render arguments="{games: gamesWithMostGoals, settings: settings, team: team}" partial="Team/History/RecordGames" />
    </div>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die meisten Zuschauer</h3>
        <f:render arguments="{games: gamesWithMostSpectators, settings: settings, team: team}" partial="Team/History/RecordGames" />
    </div>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die wenigsten Zuschauer</h3>
        <f:render arguments="{games: gamesWithFewestSpectators, settings: settings, team: team}" partial="Team/History/RecordGames" />
    </div>
</f:section>

</html>