<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <f:debug>{gamesWithHighestWins}</f:debug>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die höchsten Siege</h3>
        <f:render arguments="{recordGames: gamesWithHighestWins, settings: settings, team: team}" partial="Team/RecordGames" />
    </div>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die höchsten Niederlagen</h3>
        <f:render arguments="{recordGames: gamesWithHighestLosts, settings: settings, team: team}" partial="Team/RecordGames" />
    </div>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die meisten Zuschauer</h3>
        <f:render arguments="{recordGames: gamesWithMostSpectators, settings: settings, team: team}" partial="Team/RecordGames" />
    </div>
    <div class="tx-sportms-team-history-recordgames">
        <h3>Die wenigsten Zuschauer</h3>
        <f:render arguments="{recordGames: gamesWithFewestSpectators, settings: settings, team: team}" partial="Team/RecordGames" />
    </div>
</f:section>

</html>