<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:layout name="default"/>

<f:section name="default">
    <div class="tx-sportms-team-detail">
        
        <f:render arguments="{team: team}" partial="Team/Navigation"/>
        
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
                <thead>
                <tr>
                    <th>
                        <f:translate key="tx_sportms_domain_model_season"/>
                    </th>
                    <th>Mannschaftsfoto</th>
                </tr>
                </thead>
                <tbody>
                <f:for as="teamSeason" each="{team.teamSeasons}">
                    <tr>
                        <td class="tx-sportms-table-center">
                            <f:render
                                    partial="ViewHelpers/LinkAction/Team/SeasonIndex"
                                    arguments="{linkLabel: 'seasonLabel', team: teamSeason.team, teamSeason: teamSeason}"/>
                        </td>
                        <td class="tx-sportms-table-center">
                            <f:if condition="{teamSeason.teamSeasonImages}">
                                <f:then>
                                    <f:for each="{teamSeason.teamSeasonImages}"
                                           as="teamSeasonImage"
                                           iteration="iterator">
                                        <a class="skjsonlylightbox"
                                           href="{f:uri.image(image: teamSeasonImage)}"
                                           data-title=""
                                           data-description=""
                                           data-gallery="lightbox"
                                           style="display: inline-block;
                                                  width: 350px;">
                                            <f:image image="{teamSeasonImage}"
                                                     width="350px"
                                                     style="width: 350px;"/>
                                        </a>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    -
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </div>
</f:section>

</html>