<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Abteilung</th>
            <th>Verein</th>
            <th>Mannschaftsname</th>
            <th>Altersstufe</th>
            <th>Spielfrei</th>
            <th>Anzahl</th>
            <th>Einzelansicht</th>
        </tr>
        </thead>
        <tbody>
        <f:if condition="{teams}">
            <f:then>
                <f:for as="team" each="{teams}">
                    <tr>
                        <td>{team.clubSection.section.label}</td>
                        <td>{team.club.name}</td>
                        <td>{team.name}</td>
                        <td>{team.ageLevel.label}</td>
                        <td>{team.dummy}</td>
                        <td>
                            <f:count>{team.teamSeason}</f:count>
                        </td>
                        <td>
                            <f:if condition="{team.detailLink}">
                                <f:link.action action="detail" arguments="{uid: team}">LINK</f:link.action>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
            </f:then>
            <f:else>
                <td colspan="7">Keine Mannschaften gefunden</td>
            </f:else>
        </f:if>
        </tbody>
    </table>
</f:section>

</html>