<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <div class="tx-sportms-team-list">
        <f:render arguments="{_all}" partial="Team/ListFilter"/>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th class="tx-sportms-table-left">Mannschaft</th>
                    <th class="tx-sportms-table-center">Rekordspiele</th>
                    <th class="tx-sportms-table-center">Rekordspieler</th>
                </tr>
                </thead>
                <tbody>
                <f:if condition="{teams}">
                    <f:then>
                        <f:for as="team" each="{teams}">
                            <f:render arguments="{team: team}" partial="Team/List/Item"/>
                        </f:for>
                    </f:then>
                    <f:else>
                        <td colspan="3">Keine Mannschaften gefunden</td>
                    </f:else>
                </f:if>
                </tbody>
            </table>
        </div>
    </div>
</f:section>

</html>