<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <div class="tx-clubms-competitionseason-show">
        <f:render arguments="{_all}" partial="CompetitionSeason/ShowNavigation"/>
        <f:render arguments="{_all}" section="{settings.competitionSeason.showView.current}"/>
    </div>
</f:section>

<f:section name="index">
    <f:render arguments="{_all}" partial="CompetitionSeason/ShowIndex"/>
</f:section>

<f:section name="games">
    <f:render arguments="{_all}" partial="CompetitionSeason/ShowGames"/>
</f:section>

<f:section name="teams">
    <f:render arguments="{_all}" partial="CompetitionSeason/ShowTeams"/>
</f:section>

</html>