<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
	<div class="tx-sportms-competitionseason-detail">
		<f:render
				arguments="{competition: competitionSeason.competition, competitionSeason: competitionSeason}"
				partial="Competition/Navigation"/>
		<f:render
				arguments="{competition: competitionSeason.competition, competitionSeason: competitionSeason, competitionSeasons: competitionSeasons, settings: settings}"
				partial="CompetitionSeason/Teams/Filter"/>
		<div class="tx-sportms-competitionseason-teams">
			<f:if condition="{competitionSeason.competitionSeasonTeams}">
				<f:then>
					<div class="table-responsive">
						<f:render section="tablestart"/>
						<f:for as="teamSeason"
							   each="{competitionSeason.competitionSeasonTeams}">
							<f:render arguments="{teamSeason: teamSeason, settings: settings}"
									  partial="CompetitionSeason/Teams/Item"/>
						</f:for>
						<f:render section="tableend"/>
					</div>
				</f:then>
				<f:else>
					<div class="table-responsive">
						<f:render section="tablestart"/>
						<tr>
							<td colspan="3">Keine Teams gefunden.</td>
						</tr>
						<f:render section="tableend"/>
					</div>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="tablestart">
	<table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
		<thead>
		<tr>
			<th>Mannschaft</th>
			<th>Kadergröße</th>
			<th>Spielplan</th>
		</tr>
		</thead>
		<tbody>
</f:section>

<f:section name="tableend">
	</tbody>
	</table>
</f:section>

</html>