<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">

    <div class="tx-clubms-season-list">

        <f:if condition="{seasons}">
            <ul>
                <f:for as="season" each="{seasons}">
                    <li>{season.seasonName}, {season.seasonNameShort}, {season.seasonNameVeryShort}</li>
                </f:for>
            </ul>
        </f:if>

    </div>

</f:section>

</html>