<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.club.clubsSelectbox}">
    <div class="tx-clubms-list-filter">
        <f:form action="list" controller="Club" extensionName="clubms" method="POST" noCache="TRUE" noCacheHash="TRUE" pageUid="{settings.club.listPid}" pluginName="clubms">
            <f:render arguments="{options: clubsSelectbox, value: settings.club.selected}" partial="Form/Select/Club"/>
            <f:render partial="Form/Submit"/>
        </f:form>
    </div>
</f:if>

</html>