<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:render arguments="{_all}" partial="Club/ListFilter"/>

<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>Logo</th>
        <th>Verein</th>
        <th>Abteilungen und Mannschaften</th>
    </tr>
    </thead>
    <tbody>
    <f:if condition="{clubs}">
        <f:then>
            <f:for as="club" each="{clubs}">
                <f:render arguments="{club: club, settings: settings}" partial="Club/ListItem"/>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td colspan="3">Keine Vereine gefunden.</td>
            </tr>
        </f:else>
    </f:if>
    </tbody>
</table>

</html>