<html data-namespace-typo3-fluid="true"
      xmlns:clubms="Balumedien\Clubms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td>
        <f:if condition="{club.images.0}">
            <f:if condition="{club.detailLink}">
                <f:then>
                    <clubms:link.action Club="{club}">
                        <f:image image="{club.images.0}" maxHeight="50"/>
                    </clubms:link.action>
                </f:then>
                <f:else>
                    <f:image image="{club.images.0}" maxHeight="50"/>
                </f:else>
            </f:if>
        </f:if>
    </td>
    <td>
        <f:if condition="{club.detailLink}">
            <f:then>
                <clubms:link.action Club="{club}">{club.name}</clubms:link.action>
            </f:then>
            <f:else>
                {club.name}
            </f:else>
        </f:if>
    </td>
    <td>
        <f:if condition="{club.clubSections}">
            <f:then>
                <ul>
                    <f:for as="clubSection" each="{club.clubSections}" iteration="iterator">
                        <li>
                            <f:link.action action="show" arguments="{club: clubSection.club, section: clubSection.section}" controller="ClubSection" pageUid="{settings.clubSection.showPid}">{clubSection.section.label}</f:link.action>
                        </li>
                        <f:if condition="{clubSection.teams}">
                            <f:then>
                                <f:for as="team" each="{clubSection.teams}" iteration="iterator2">
                                    <f:link.action action="show" arguments="{team: team}" controller="Team" pageUid="{settings.team.showPid}">{team.name}</f:link.action>
                                    <f:if condition="iterator2.isLast">
                                        <f:then></f:then>
                                        <f:else>,</f:else>
                                    </f:if>
                                </f:for>
                            </f:then>
                            <f:else>
                            </f:else>
                        </f:if>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <ul>
                    <li>Keine Abteilungen vorhanden</li>
                </ul>
            </f:else>
        </f:if>
    </td>
</tr>

</html>