<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.club.navigation.enabled}">
	<ul>
		<li>
			<f:render partial="ViewHelpers/LinkAction/Club/Index"
					  arguments="{club: cub}"/>
		</li>
		<li>
			<f:render partial="ViewHelpers/LinkAction/Club/Officials"
					  arguments="{club: cub}"/>
		</li>
		<li>
			<f:render partial="ViewHelpers/LinkAction/Club/Sections"
					  arguments="{club: cub}"/>
		</li>
	</ul>
</f:if>

</html>