<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div id="tx-clubms-club-show-sections" class="clearfix">
    <f:if condition="{club}">
        <f:for as="section" each="{club.clubSections}">
            <f:if condition="{section.urls} && {section.images} && {section.section.label}">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 abteilungsaufzaehlung-outer">
                    <div class="abteilungsaufzaehlung-inner">
                        <f:for as="url" each="{section.urls}" iteration="iterator">
                            <f:if condition="{iterator.isFirst}">
                                <f:link.typolink parameter="{url.url}">
                                    <f:for as="image" each="{section.images}" iteration="iterator2">
                                        <f:if condition="{iterator2.isFirst}">
                                            <div class="image">
                                                <f:image height="200c" image="{image}" width="350c"/>
                                            </div>
                                        </f:if>
                                    </f:for>
                                    <div class="info">{section.section.label}</div>
                                </f:link.typolink>
                            </f:if>
                        </f:for>
                    </div>
                </div>
            </f:if>
        </f:for>
    </f:if>
</div>

</html>