<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.club.showNavigation.enabled}">
    <ul>
        <f:if condition="{settings.club.showNavigation.index}">
            <li><sportms:link.action Club="{club}" Show="index">Index</sportms:link.action></li>
        </f:if>
        <f:if condition="{settings.club.showNavigation.officials}">
            <li><sportms:link.action Club="{club}" Show="officials">Officials</sportms:link.action></li>
        </f:if>
        <f:if condition="{settings.club.showNavigation.sections}">
            <li><sportms:link.action Club="{club}" Show="sections">Sections</sportms:link.action></li>
        </f:if>
    </ul>
</f:if>

</html>