<html data-namespace-typo3-fluid="true"
      xmlns:clubms="Balumedien\Clubms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<ul>
    <f:if condition="{settings.club.showView.index}">
        <li><clubms:link.action Club="{club}" Show="index">Index</clubms:link.action></li>
    </f:if>
    <f:if condition="{settings.club.showView.officials}">
        <li><clubms:link.action Club="{club}" Show="officials">Officials</clubms:link.action></li>
    </f:if>
    <f:if condition="{settings.club.showView.sections}">
        <li><clubms:link.action Club="{club}" Show="sections">Sections</clubms:link.action></li>
    </f:if>
</ul>

</html>