<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

    <table>
        <tr><td colspan="3">Spielpaarung</td></tr>
        <tr>
            <td>{game.teamSeasonHome.team.label}</td>
            <td></td>
            <td>{game.teamSeasonGuest.team.label}</td>
        </tr>
        <tr>
            <td></td>
            <td>{game.resultEndRegularHome} : {game.resultEndRegularGuest}</td>
            <td>
                <f:for each="{game.teamSeasonGuest.team.club.images}" as="logo">
                    <f:debug>{logo}</f:debug>
                </f:for>
            </td>
        </tr>
    </table>

</html>