<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">{game.teamSeasonHome.team.label}</div>
            <div class="col-4">{game.competitionSeason.competition.label} {game.season.abbreviation} {game.gameday.label}</div>
            <div class="col-4">{game.teamSeasonGuest.team.label}</div>
        </div>
    </div>

    <table>
        <tr>
            <td>
                <f:for each="{game.teamSeasonHome.team.club.images}" as="logo">
                    <f:debug>{logo}</f:debug>
                </f:for>
            </td>
            <td>{game.resultEndRegularHome} : {game.resultEndRegularGuest}</td>
            <td>
                <f:debug>{game.teamSeasonGuest.team.club.images}</f:debug>
                <f:for each="{game.teamSeasonGuest.team.club.images}" as="logo" iteration="iterator">
                    <f:if condition="iterator.isFirst">
                        <f:image image="{logo}"/>
                    </f:if>
                </f:for>
            </td>
        </tr>
    </table>

</html>