<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{  settings.section.sectionsSelectbox ||
                    settings.section.sectionAgeGroupsSelectbox ||
                    settings.section.sectionAgeLevelsSelectbox ||
                    settings.competition.competitionsSelectbox ||
                    settings.competition.competitionTypesSelectbox ||
                    settings.season.seasonsSelectbox ||
                    settings.competitionSeason.competitionSeasonGamedaysSelectbox ||
                    settings.club.clubsSelectbox ||
                    settings.team.teamsSelectbox}">
    <div class="tx-clubms-list-filter">
        <f:form action="list" controller="ClubSection" extensionName="clubms" method="POST" noCache="TRUE" noCacheHash="TRUE" pageUid="{settings.clubSection.listPid}" pluginName="clubms">
            <div class="form-row">
                <f:if condition="{settings.section.sectionsSelectbox}">
                    <f:render arguments="{options: sectionsSelectbox, value: settings.section.selected}" partial="Select/Section"/>
                </f:if>
                <f:if condition="{settings.section.sectionAgeGroupsSelectbox}">
                    <f:render arguments="{options: sectionAgeGroupsSelectbox, value: settings.section.sectionAgeGroup.selected}" partial="Select/SectionAgeGroup"/>
                </f:if>
                <f:if condition="{settings.section.sectionAgeLevelsSelectbox}">
                    <f:render arguments="{options: sectionAgeLevelsSelectbox, value: settings.section.sectionAgeLevel.selected}" partial="Select/SectionAgeLevel"/>
                </f:if>
                <f:if condition="{settings.competition.competitionsSelectbox}">
                    <f:render arguments="{options: competitionsSelectbox, value: settings.competition.selected}" partial="Select/Competition"/>
                </f:if>
                <f:if condition="{settings.competition.competitionTypesSelectbox}">
                    <f:render arguments="{options: competitionTypesSelectbox, value: settings.competition.competitionType.selected}" partial="Select/CompetitionType"/>
                </f:if>
                <f:if condition="{settings.season.seasonsSelectbox}">
                    <f:render arguments="{options: seasonsSelectbox, value: settings.season.selected}" partial="Select/Season"/>
                </f:if>
                <f:if condition="{settings.competitionSeason.competitionSeasonGamedaysSelectbox}">
                    <f:render arguments="{options: competitionSeasonGamedaysSelectbox, value: settings.competitionSeason.competitionSeasonGameday.selected}" partial="Select/CompetitionSeasonGameday"/>
                </f:if>
                <f:if condition="{settings.club.clubsSelectbox}">
                    <f:render arguments="{options: clubsSelectbox, value: settings.club.selected}" partial="Select/Club"/>
                </f:if>
                <f:if condition="{settings.team.teamsSelectbox}">
                    <f:render arguments="{options: teamsSelectbox, value: settings.team.selected}" partial="Select/Team"/>
                </f:if>
                <div class="col-xs-4">
                    <f:form.submit class="btn btn-primary" value="Los"/>
                </div>
            </div>
        </f:form>
    </div>
</f:if>

</html>