<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Spiel-Navigation</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><f:link.page pageUid="{settings.game.showIndex.pid}">Schema</f:link.page></li>
                    <li><f:link.page pageUid="{settings.game.showLineup.pid}">Aufstellung</f:link.page></li>
                    <f:if condition="{game.reports}">
                        <f:then>
                            <li><f:link.page pageUid="{settings.game.showReport.pid}">Spielbericht</f:link.page></li>
                        </f:then>
                        <f:else>
                            <li class="disabled"><f:link.page pageUid="{settings.game.showReport.pid}">Spielbericht</f:link.page></li>
                        </f:else>
                    </f:if>
                    <li><f:link.page pageUid="{settings.game.showHistory.pid}">Historie</f:link.page></li>
                    <li><f:link.page pageUid="{settings.competition.showGameday.pid}">Spieltagsübersicht</f:link.page></li>
                </ul>
            </div>
        </div>
    </nav>

</html>