<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.game.navigation.enabled}">
    <div class="tx-sportms-navigation tx-sportms-game-navigation">
        <nav class="navbar navbar-light">
            <div class="navbar-header">
                <button class="navbar-toggler" data-bs-target="#gameNavbar"
                        data-bs-toggle="collapse"
                        type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="gameNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <f:render partial="ViewHelpers/LinkAction/Game/Index"
                                  arguments="{game: game}"/>
                    </li>
                    <f:if condition="{game.gameReport}">
                        <f:then>
                            <li>
                                <f:render
                                        partial="ViewHelpers/LinkAction/Game/Report"
                                        arguments="{game: game}"/>
                            </li>
                        </f:then>
                        <f:else>
                            <li>
							<span>
								<f:translate
                                        key="tx_sportms_action.game.report"/>
							</span>
                            </li>
                        </f:else>
                    </f:if>
                    <li>
                        <f:render
                                partial="ViewHelpers/LinkAction/Game/History"
                                arguments="{game: game}"/>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true"
                           class="dropdown-toggle"
                           data-bs-toggle="dropdown" href="#"
                           role="button">
                            <f:translate
                                    key="tx_sportms_navigation.game.competition.dropdown"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <f:render
                                        partial="ViewHelpers/LinkAction/Competition/SeasonGames"
                                        arguments="{competitionSeason: game.competitionSeason}"/>
                            </li>
                            <li>
                                <f:render
                                        partial="ViewHelpers/LinkAction/Competition/SeasonTeams"
                                        arguments="{competitionSeason: game.competitionSeason}"/>
                            </li>
                            <li>
                                <f:render
                                        partial="ViewHelpers/LinkAction/Competition/SeasonClubs"
                                        arguments="{competitionSeason: game.competitionSeason}"/>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</f:if>

</html>