<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{address}">
    <f:then>
        <f:if condition="{size}">
            <f:then>
                <f:render section="{size}"/>
            </f:then>
            <f:else>
                <f:render section="normal"/>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <span style="text-align: center;">-</span>
    </f:else>
</f:if>

<f:section name="normal">
    {address.street} {address.housenumber}<br/>
    {address.zipcode} {address.location}
</f:section>

<f:section name="full">
    {address.street} {address.housenumber}<br/>
    {address.zipcode} {address.location}<br/>
    {address.region}<br/>
    {address.country}
</f:section>

</html>