<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>


<div class="table-responsive">
	<table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
		<thead>
		<tr>
			<th>
				<f:translate key="tx_sportms_domain_model_competition"/>
			</th>
			<th>Datum</th>
			<th colspan="3">
				<f:translate key="tx_sportms_domain_model_game"/>
			</th>
			<th>
				<f:translate key="tx_sportms_domain_model_game.result"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<f:if condition="{games}">
			<f:then>
				<f:for as="game" each="{games}">
					<tr>
						<td class="tx-sportms-table-center">
							<f:render
									partial="ViewHelper/LinkAction/CompetitionSeason/Games"
									arguments="{competitionSeason: game.competitionSeason, linkLabel: 'competition'}"/>
						</td>
						<td class="tx-sportms-table-center">
							<f:format.date date="{game.date}"
										   format="{settings.format.date.long}"/>
						</td>
						<td class="tx-sportms-table-right">
							<f:render
									arguments="{teamSeason: game.teamSeasonHome}"
									partial="ViewHelper/TeamSeason/ItemInTable"/>
						</td>
						<td class="tx-sportms-table-center">-</td>
						<td class="tx-sportms-table-left">
							<f:render
									arguments="{teamSeason: game.teamSeasonGuest}"
									partial="ViewHelper/TeamSeason/ItemInTable"/>
						</td>
						<td class="tx-sportms-table-center">
							<f:render partial="ViewHelper/LinkAction/Game/Index"
									  arguments="{game: game, linkLabel: 'result'}"/>
						</td>
					</tr>
				</f:for>
			</f:then>
			<f:else>
				<td colspan="6">Keine Spiele gefunden.</td>
			</f:else>
		</f:if>
		</tbody>
	</table>
</div>

</html>