<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">


<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
        <thead>
        <tr>
            <th>Wettbewerb</th>
            <th>Datum</th>
            <th colspan="3">Begegnung</th>
            <th>Ergebnis</th>
        </tr>
        </thead>
        <tbody>
        <f:if condition="{games}">
            <f:then>
                <f:for as="game" each="{games}">
                    <tr>
                        <td class="tx-sportms-table-center">
                            <sportms:link.action action="gameday" controller="CompetitionSeason" CompetitionSeason="{game.competitionSeason}" CompetitionSeasonGameday="{game.gameday}">
                                {game.competitionSeason.competition.label}
                            </sportms:link.action>
                        </td>
                        <td class="tx-sportms-table-center">
                            <f:format.date date="{game.date}" format="{settings.format.dateLong}"/>
                        </td>
                        <td class="tx-sportms-table-right">
                            <f:render partial="ViewHelper/TeamSeason/ItemInTable" arguments="{teamSeason: game.teamSeasonHome}"/>
                        </td>
                        <td class="tx-sportms-table-center">-</td>
                        <td class="tx-sportms-table-left">
                            <f:render partial="ViewHelper/TeamSeason/ItemInTable" arguments="{teamSeason: game.teamSeasonGuest}"/>
                        </td>
                        <td class="tx-sportms-table-center">
                            <sportms:link.action action="index" controller="Game" Game="{game}">
                                <f:render partial="ViewHelper/Game/ResultInTable" arguments="{game: game}" />
                            </sportms:link.action>
                        </td>
                    </tr>
                </f:for>
            </f:then>
            <f:else>
                <td colspan="6">Keine Spiele gefunden.</td>
            </f:else>
        </f:if>
        </tbody>
    </table>
</div>

</html>