<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:sportms="ChristianKnell\Sportms\ViewHelpers">

<tr>
	<td class="tx-sportms-table-center">{position + 1}</td>
	<td class="tx-sportms-table-center">
		<f:format.date format="d.m.Y">{game.date}</f:format.date>
	</td>
	<td class="tx-sportms-table-center">{game.season.abbreviation}</td>
	<td class="tx-sportms-table-left">
		<f:render partial="ViewHelpers/LinkAction/Competition/SeasonGames"
				  arguments="{competitionSeason: game.competitionSeason, competitionSeasonGameday: game.gameday, linkLabel: 'competitionLabel'}"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:if condition="{team} == {game.teamSeasonHome.team}">
			<f:then>
				H
			</f:then>
			<f:else>
				A
			</f:else>
		</f:if>
	</td>
	<td class="tx-sportms-table-left">
		<f:if condition="{team} == {game.teamSeasonHome.team}">
			<f:then>
				<f:render arguments="{teamSeason: game.teamSeasonGuest}"
						  partial="ViewHelpers/TeamSeason/ItemInTable"/>
			</f:then>
			<f:else>
				<f:render arguments="{teamSeason: game.teamSeasonHome}"
						  partial="ViewHelpers/TeamSeason/ItemInTable"/>
			</f:else>
		</f:if>
	</td>
	<td class="tx-sportms-table-center">
		<f:render arguments="{spectators: game.spectators}"
				  partial="ViewHelpers/Game/Spectators"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render partial="ViewHelpers/LinkAction/Game/Index"
				  arguments="{game: game, linkLabel: 'result'}"/>
	</td>
</tr>

</html>