<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th class="tx-sportms-table-center">#</th>
        <th class="tx-sportms-table-center">Datum</th>
        <th class="tx-sportms-table-center">Saison</th>
        <th class="tx-sportms-table-left">Wettbewerb</th>
        <th class="tx-sportms-table-center">Ort</th>
        <th class="tx-sportms-table-left">Gegner</th>
        <th class="tx-sportms-table-center">Zuschauer</th>
        <th class="tx-sportms-table-center">Ergebnis</th>
    </tr>
    </thead>
    <tbody>
    <f:if condition="{games}">
        <f:then>
            <f:for as="game" each="{games}" iteration="iterator">
                <f:render arguments="{position: iterator.index, game: game, settings: settings, team: team}" partial="Team/History/RecordGame"/>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td class="tx-sportms-table-nodata" colspan="8">Keine Rekordspiele gefunden.</td>
            </tr>
        </f:else>
    </f:if>
    </tbody>
</table>

</html>