<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.section.sectionsSelectbox} ||
                 {settings.club.clubsSelectbox}">
    <div class="tx-sportms-list-filter well">
        <f:form action="list" class="form-horizontal" controller="Team" extensionName="sportms" method="POST" noCache="TRUE" noCacheHash="TRUE" pageUid="{settings.team.listPid}" pluginName="sportms">
            <f:render arguments="{options: sectionsSelectbox,           settings: settings,     value: settings.section.selected}" partial="Form/Select/Sport"/>
            <f:render arguments="{options: sectionAgeGroupsSelectbox,   settings: settings,     value: settings.sectionAgeGroup.selected}" partial="Form/Select/SportAgeGroup"/>
            <f:render arguments="{options: sectionAgeLevelsSelectbox,   settings: settings,     value: settings.sectionAgeLevel.selected}" partial="Form/Select/SportAgeLevel"/>
            <f:render arguments="{options: clubsSelectbox,              settings: settings,     value: settings.club.selected}" partial="Form/Select/Club"/>
            <f:render partial="Form/Submit"/>
        </f:form>
    </div>
</f:if>

</html>