<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Verein</th>
            <th>Abteilung</th>
            <th>Mannschaftsname</th>
            <th>Altersgruppe</th>
            <th>Altersstufe</th>
            <th>Teaminstanzen</th>
        </tr>
        </thead>
        <tbody>
        <f:if condition="{teams}">
            <f:then>
                <f:for as="team" each="{teams}">
                    <f:render arguments="{team: team}" partial="Team/ListItem"/>
                </f:for>
            </f:then>
            <f:else>
                <td colspan="5">Keine Mannschaften gefunden</td>
            </f:else>
        </f:if>
        </tbody>
    </table>
</div>

</html>