<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.team.navigation.enabled}">
    <div class="tx-sportms-navigation tx-sportms-team-navigation">
        <nav id="secondaryNavigation" class="navbar navbar-expand-lg" style="top: 0;">
            <div class="">
                <button class="navbar-toggler ps-4" data-bs-toggle="collapse" data-bs-target="#sportmsNavigationContent" aria-controls="sportmsNavigationContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="sportmsNavigationContent">
                    <ul class="navbar-nav me-auto p-0">
                        <li class="nav-item">
                            <f:render arguments="{season: season, team: team, teamSeason: teamSeason}" partial="ViewHelpers/LinkAction/Team/SeasonIndex" />
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
                                <f:translate key="tx_sportms_navigation.team.games.dropdown" />
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <f:render arguments="{season: season, team: team, teamSeason: teamSeason}" partial="ViewHelpers/LinkAction/Team/SeasonGamesByCompetition" />
                                </li>
                                <li class="nav-item">
                                    <f:render arguments="{season: season, team: team, teamSeason: teamSeason}" partial="ViewHelpers/LinkAction/Team/SeasonGamesByDate" />
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-bs-toggle="dropdown"
                                href="#" role="button">
                                <f:translate key="tx_sportms_navigation.team.history.dropdown" />
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <f:render arguments="{team: team}"
                                        partial="ViewHelpers/LinkAction/Team/HistoryCompetitions" />
                                </li>
                                <li class="nav-item">
                                    <f:render arguments="{team: team}"
                                        partial="ViewHelpers/LinkAction/Team/HistoryImages" />
                                </li>
                                <li class="nav-item">
                                    <f:render arguments="{team: team}"
                                        partial="ViewHelpers/LinkAction/Team/HistoryOfficials" />
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-bs-toggle="dropdown"
                                href="#" role="button">
                                <f:translate key="tx_sportms_navigation.team.records.dropdown" />

                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <f:render arguments="{team: team}"
                                        partial="ViewHelpers/LinkAction/Team/HistoryRecordGames" />
                                </li>
                                <f:comment>
                                    <li class="nav-item">
                                        <f:render arguments="{team: team}"
                                            partial="ViewHelpers/LinkAction/Team/HistoryRecordPlayers" />
                                    </li>
                                </f:comment>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <!-- Main link -->
                            <a class="nav-link" href="/fussball/aktuelles/news">
                                Aktuelles
                            </a>
                            <!-- Dropdown toggle split -->
                            <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="dropdown-1894"
                                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-1894" data-bs-auto-close="outside">
                                <li class="nav-item">
                                    <a class="nav-link" href="/fussball/aktuelles/bilder">
                                        Bilder
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/fussball/aktuelles/news">
                                        News
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/fussball/aktuelles/spieltagsinfo">
                                        Spieltagsinfo
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/fussball/aktuelles/kunstrasenvermietung">
                                        Kunstrasenvermietung
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <!-- Main link -->
                                    <a class="nav-link" href="/fussball/aktuelles/termine">
                                        Termine
                                    </a>
                                    <!-- Dropdown toggle split -->
                                    <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#"
                                        id="dropdown-1898" data-bs-toggle="dropdown" aria-expanded="false"
                                        data-bs-auto-close="outside">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-1898" data-bs-auto-close="outside">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/fussball/aktuelles/termine/vergangene-termine">
                                                Vergangene Termine
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</f:if>

</html>