<html data-namespace-typo3-fluid="true"
      xmlns:clubms="Balumedien\Clubms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <tr>
        <td>{position}</td>
        <td>{recordGame.date}</td>
        <td>{recordGame.season.abbreviation}</td>
        <td>{recordGame.gameday}</td>
        <td>{recordGame.competitionSeason.competition.label}</td>
        <td>H</td>
        <td>{recordGame.teamSeasonHome.team.label}</td>
        <td>{recordGame.spectators}</td>
        <td>{recordGame.resultEndHome} : {recordGame.resultEndGuest}</td>
    </tr>

</html>