<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td class="tx-sportms-table-center">{position + 1}</td>
    <td class="tx-sportms-table-center">
        <f:format.date format="d.m.Y">{recordGame.date}</f:format.date>
    </td>
    <td class="tx-sportms-table-center">{recordGame.season.abbreviation}</td>
    <td class="tx-sportms-table-center">{recordGame.competitionSeason.competition.label}</td>
    <td class="tx-sportms-table-center">
        <f:if condition="{team} == {recordGame.teamSeasonHome.team}">
            <f:then>
                H
            </f:then>
            <f:else>
                A
            </f:else>
        </f:if>
    </td>
    <td class="tx-sportms-table-left">
        <f:if condition="{team} == {recordGame.teamSeasonHome.team}">
            <f:then>
                <f:render arguments="{settings: settings, teamSeason: recordGame.teamSeasonGuest}" partial="ViewHelper/Link/TeamSeason/SeasonIndex" />
            </f:then>
            <f:else>
                <f:render arguments="{settings: settings, teamSeason: recordGame.teamSeasonHome}" partial="ViewHelper/Link/TeamSeason/SeasonIndex" />
            </f:else>
        </f:if>
    </td>
    <td class="tx-sportms-table-center">
        <f:render arguments="{spectators: recordGame.spectators}" partial="ViewHelper/GameSpectators"/>
    </td>
    <td class="tx-sportms-table-center">
        <f:render arguments="{settings: settings, game: recordGame}" partial="ViewHelper/Link/Game/ShowIndex" />
    </td>
</tr>

</html>