<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Datum</th>
        <th>Saison</th>
        <th>Sptg.</th>
        <th>Wettbewerb</th>
        <th>Ort</th>
        <th>Gegner</th>
        <th>Zuschauer</th>
        <th>Ergebnis</th>
    </tr>
    </thead>
    <tbody>
    <f:if condition="{recordGames}">
        <f:then>
            <f:for as="recordGame" each="{recordGames}" iteration="iterator">
                <f:render arguments="{position: iterator.index, recordGame: recordGame, settings: settings}" partial="Team/RecordGame"/>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td colspan="8">Keine Rekordspiele gefunden.</td>
            </tr>
        </f:else>
    </f:if>
    </tbody>
</table>

</html>