<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th class="tx-sportms-table-position">#</th>
        <th class="tx-sportms-table-date">Datum</th>
        <th class="tx-sportms-table-season">Saison</th>
        <th class="tx-sportms-table-competition">Wettbewerb</th>
        <th class="tx-sportms-table-homeaway">Ort</th>
        <th class="tx-sportms-table-team">Gegner</th>
        <th class="tx-sportms-table-spectators">Zuschauer</th>
        <th class="tx-sportms-table-result">Ergebnis</th>
    </tr>
    </thead>
    <tbody>
    <f:if condition="{recordGames}">
        <f:then>
            <f:for as="recordGame" each="{recordGames}" iteration="iterator">
                <f:render arguments="{position: iterator.index, recordGame: recordGame, settings: settings, team: team}" partial="Team/RecordGame"/>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td class="tx-sportms-table-nodata" colspan="8">Keine Rekordspiele gefunden.</td>
            </tr>
        </f:else>
    </f:if>
    </tbody>
</table>

</html>