<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

<f:if condition="{goal}">
  <div class="tx-sportms-game-goal">
    <div class="tx-sportms-game-goal-person tx-sportms-game-goal-person-home">
      <f:if condition="{type} == home">
        <div class="tx-sportms-game-goal-scorer">
          <sportms:link.action action="playerProfile" controller="Person" Person="{goal.scorer}">
            {goal.scorer.lastname}
          </sportms:link.action>
        </div>
        <div class="tx-sportms-game-goal-assist">
          <sportms:link.action action="playerProfile" controller="Person" Person="{goal.assist}">
            {goal.assist.lastname}
          </sportms:link.action>
        </div>
      </f:if>
    </div>
    <div class="tx-sportms-game-goal-time">
      <f:if condition="{type} == home">
        <span class="tx-sportms-game-goal-minute">{goal.minute}'</span>
      </f:if>
    </div>
    <div class="tx-sportms-game-goal-score">
      <div class="tx-sportms-game-result-main">
        {goal.goalHome} : {goal.goalGuest}
      </div>
    </div>
    <div class="tx-sportms-game-goal-time">
      <f:if condition="{type} == guest">
        <span class="tx-sportms-game-goal-minute">{goal.minute}'</span>
      </f:if>
    </div>
    <div class="tx-sportms-game-goal-person tx-sportms-game-goal-person-guest">
      <f:if condition="{type} == guest">
        <div class="tx-sportms-game-goal-scorer">
          <sportms:link.action action="playerProfile" controller="Person" Person="{goal.scorer}">
            {goal.scorer.lastname}
          </sportms:link.action>
        </div>
        <div class="tx-sportms-game-goal-assist">
          <sportms:link.action action="playerProfile" controller="Person" Person="{goal.assist}">
            {goal.assist.lastname}
          </sportms:link.action>
        </div>
      </f:if>
    </div>
  </div>
</f:if>

<f:section name="goal">

</f:section>

</html>