<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <div id="tx-sportms-clubsection-list">
        <f:render arguments="{_all}" partial="ClubSection/List/Filter"/>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped tx-sportms-table">
                <thead>
                <tr>
                    <th>Vereinsabteilung</th>
                    <th>Verein</th>
                    <th>Sportart(en)</th>
                    <th>Mannschaften</th>
                </tr>
                </thead>
                <tbody>
                <f:if condition="{clubSections}">
                    <f:then>
                        <f:for as="clubSection" each="{clubSections}">
                            <f:render arguments="{clubSection: clubSection, settings: settings}" partial="ClubSection/List/Item"/>
                        </f:for>
                    </f:then>
                    <f:else>
                        <td colspan="4">Keine Vereinsabteilungen gefunden.</td>
                    </f:else>
                </f:if>
                </tbody>
            </table>
        </div>
    </div>
</f:section>

</html>