<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.season.selectbox.enabled}">
	<div class="tx-sportms-filter">
		<f:form action="seasonClubs"
				arguments="{competition: competition, season: season}"
				class="form-horizontal"
				controller="Competition"
				extensionName="Sportms"
				method="POST"
				pageUid="{settings.competition.seasonClubs.pid}"
				pluginName="Competition">
			<f:form.hidden name="competition" value="{competition}"/>
			<f:render
					arguments="{options: seasonSelectboxValues}"
					partial="ViewHelpers/Form/Select/CompetitionSeason"/>
			<f:render partial="ViewHelpers/Form/Submit"/>
		</f:form>
	</div>
</f:if>

</html>