<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Sportart</th>
            <th>Altersgruppen und -stufen</th>
            <th>Positionen</th>
        </tr>
        </thead>
        <tbody>
        <f:if condition="{sports}">
            <f:then>
                <f:for as="sport" each="{sports}">
                    <tr>
                        <td>
                            {sport.label}
                        </td>
                        <td>
                            <f:if condition="{sport.sportAgeGroups}">
                                <f:then>
                                    <f:for as="sportAgeGroup" each="{sport.sportAgeGroups}">
                                        <ul>
                                            <li>{sportAgeGroup.label}
                                                <f:if condition="{sportAgeGroup.sportAgeLevels}">
                                                    <f:then>
                                                        <ul>
                                                            <f:for as="sportAgeLevel" each="{sportAgeGroup.sportAgeLevels}">
                                                                <li>{sportAgeLevel.label}</li>
                                                            </f:for>
                                                        </ul>
                                                    </f:then>
                                                </f:if>
                                            </li>
                                        </ul>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <center>-</center>
                                </f:else>
                            </f:if>
                        </td>
                        <td>
                            <f:if condition="{sport.sportPositionGroups}">
                                <f:then>
                                    <f:for as="sportPositionGroup" each="{sport.sportPositionGroups}">
                                        <ul>
                                            <li>{sportPositionGroup.label}
                                                <f:if condition="{sportPositionGroup.sportPositions}">
                                                    <f:then>
                                                        <ul>
                                                            <f:for as="sportPosition" each="{sportPositionGroup.sportPositions}">
                                                                <li>{sportPosition.label}</li>
                                                            </f:for>
                                                        </ul>
                                                    </f:then>
                                                </f:if>
                                            </li>
                                        </ul>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <center>-</center>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
            </f:then>
            <f:else>
                <td colspan="3">Keine Abteilungen gefunden</td>
            </f:else>
        </f:if>
        </tbody>
    </table>
</div>

</html>