/*
 *
 * SPORTMS Colors
 *
 */
:root {
    --color1: #C30D00;
    --color2: #DCDCDC;
    --color3: #333333;
}

/*
 *
 * SPORTMS Icons
 +
 */
.sportmsicon {
    background: var(--color1);
    display: block;
    height: 20px;
    mask-position: center center !important;
    mask-size: contain !important;
    width: 20px;
}

.sportmsicon.sportmsicon-club {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_club.svg");
}

.sportmsicon.sportmsicon-clubsection {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_clubsection.svg");
}

.sportmsicon.sportmsicon-competition {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_competition.svg");
}

.sportmsicon.sportmsicon-competitionseasongameday {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_competitionseasongameday.svg");
}

.sportmsicon.sportmsicon-competitiontype {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_competitiontype.svg");
}

.sportmsicon.sportmsicon-season {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_season.svg");
}

.sportmsicon.sportmsicon-sport {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_sport.svg");
}

.sportmsicon.sportmsicon-sportagegroup {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_sportagegroup.svg");
}

.sportmsicon.sportmsicon-sportagelevel {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_sportagelevel.svg");
}

.sportmsicon.sportmsicon-team {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_team.svg");
}

.sportmsicon.sportmsicon-url {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_url.svg");
}

.sportmsicon.sportmsicon-venue {
    mask: url("/typo3conf/ext/sportms/Resources/Public/Icons/tx_sportms_domain_model_venue.svg");
}

.tx-sportms {
    display: block;
    font-family: sans-serif;
}

.tx_sportms_club_sections {
    margin-bottom: 75px;
}

.tx_sportms_club_sections .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.tx_sportms_club_sections .row .container > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.abteilungsaufzaehlung-outer {
    padding: 0.5%;
}

.abteilungsaufzaehlung-inner {
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(217, 217, 217, .6);
    border-top-color: rgba(217, 217, 217, 0.6);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0;
    padding: 0;
    width: 100%;
}

.abteilungsaufzaehlung-inner .image,
.abteilungsaufzaehlung-inner .image img {
    height: auto !important;
    width: 100%;
}

.abteilungsaufzaehlung-inner .info {
    font-size: 14px;
    padding: 10px 20px;
    position: relative;
}

.abteilungsaufzaehlung-inner a {
    color: black;
}

.abteilungsaufzaehlung-inner a:hover {
    color: var(--color1);
}


/*
 *
 * SPORTMS - DBSTATS
 *
 */
.tx-sportms .tx-sportms-dbstats {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item {
    margin: 25px 0 0 0;
}

.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(1),
.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(4) {
    grid-column: 1/2;
}

.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(2),
.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(5) {
    grid-column: 2/3;
}

.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(3),
.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(6) {
    grid-column: 3/4;
}

.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item .tx-sportms-dbstat-image,
.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item .tx-sportms-dbstat-label {
    text-align: center;
}

.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item .tx-sportms-dbstat-image img {
    height: auto !important;
    max-width: 100%;
    padding: 15px;
    width: 90%;
}

.tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item .tx-sportms-dbstat-label h4 {
    margin: 0;
    padding: 0;
}


/*
 *
 * SPORTMS - FILTER
 *
 */
.tx-sportms .tx-sportms-filter {
    background-color: var(--light-gray);
    margin-bottom: 25px;
    padding: 15px;
}

.tx-sportms .tx-sportms-filter .form-group:last-of-type {
    margin-bottom: 0;
}

.tx-sportms .tx-sportms-filter .form-group .col-0 {
    margin: 0;
    padding: 0;
}

.tx-sportms .tx-sportms-filter .form-label {
    color: white;
    text-align: right;
}

.tx-sportms .tx-sportms-filter .input-group-addon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 4px;
}

.tx-sportms .tx-sportms-filter .form-control {
    padding-bottom: 0;
    padding-top: 0;
}

.tx-sportms .tx-sportms-filter .input-group-addon .sportmsicon {
    background: var(--regular-red);
    display: block;
    height: 20px;
    mask-position: center center;
    mask-size: contain;
    width: 20px;
}


/*
 *
 * SPORTMS - NAVIGATION
 *
 */
#sportmsTeamNavigation {
	background-color: var(--medium-gray) !important;
	border-bottom: 1px solid white;
	box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
	padding: 0;
	-webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
}
#sportmsTeamNavigation .navbar-toggler,
#sportmsTeamNavigation .navbar-toggler:focus {
	border: none;
	color: transparent;
}
#sportmsTeamNavigation .navbar-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="480px" height="480px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path style="opacity:0.992" fill="%23fefffe" d="M 47.5,77.5 C 175.5,77.5 303.5,77.5 431.5,77.5C 431.5,91.8333 431.5,106.167 431.5,120.5C 303.5,120.5 175.5,120.5 47.5,120.5C 47.5,106.167 47.5,91.8333 47.5,77.5 Z"/></g><g><path style="opacity:0.97" fill="%23fefffe" d="M 122.5,217.5 C 225.5,217.5 328.5,217.5 431.5,217.5C 431.5,232.167 431.5,246.833 431.5,261.5C 328.5,261.5 225.5,261.5 122.5,261.5C 122.5,246.833 122.5,232.167 122.5,217.5 Z"/></g><g><path style="opacity:0.991" fill="%23fefffe" d="M 196.5,358.5 C 274.833,358.5 353.167,358.5 431.5,358.5C 431.5,372.833 431.5,387.167 431.5,401.5C 353.167,401.5 274.833,401.5 196.5,401.5C 196.5,387.167 196.5,372.833 196.5,358.5 Z"/></g></svg>');
}
#sportmsTeamNavigation .nav-item.dropdown {
	align-items: center !important;
	display: flex !important;
}
#sportmsTeamNavigation .dropdown {
	position: relative;
}
#sportmsTeamNavigation .nav-item .nav-link {
	font-size: 14px;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
	color: white;
	position: relative;
	opacity: 1 !important;
}
#sportmsTeamNavigation .dropdown-toggle-split {
	background-color: var(--dark-gray);
	border-radius: 0;
	margin: 0;
	margin-left: auto;
	padding-left: 15px !important;
	padding-right: 15px !important;
	align-items: center;
}
#sportmsTeamNavigation .nav-item .dropdown-menu {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	left: 0 !important;
	border-radius: 0;
	right: auto !important;
	transform: none !important;
	top: 100% !important;
	background-color: var(--medium-gray);
}
#sportmsTeamNavigation .nav-item .dropdown-menu .dropdown-item:hover,
#sportmsTeamNavigation .nav-item .dropdown-menu .dropdown-item:focus,
#sportmsTeamNavigation .nav-item .nav-link:hover,
#sportmsTeamNavigation .nav-item .nav-link:focus,
#sportmsTeamNavigation .nav-item.active > a,
#sportmsTeamNavigation .nav-item.active > a:hover {
	background-color: var(--light-gray);
	color: white;
	text-decoration: none;
}
#sportmsTeamNavigation .nav-item .nav-item .nav-link {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 100%;
}
#sportmsTeamNavigation .nav-item .nav-item .nav-link.dropdown-toggle-split {
  width: auto;
}
#sportmsTeamNavigation .nav-item .nav-item .dropdown-menu {
  left: 100% !important;
  top: 0 !important;
}


@media (max-width: 991.98px) {
  #sportmsTeamNavigation {
    padding: 10px 0 0 0;
  }
  #sportmsTeamNavigation .container {
    padding: 0;
  }
  #sportmsTeamNavigation .navbar-toggler {
    margin-bottom: 10px;
  }
  #sportmsTeamNavigation .nav-item {
    border-bottom: 1px solid white;
  }
  #sportmsTeamNavigation .nav-item:last-child {
    border-bottom: none;
  }
  #sportmsTeamNavigation .nav-item > .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: .5rem;
    padding-top: .5rem;
  }
  #sportmsTeamNavigation .nav-item.active > a,
  #sportmsTeamNavigation .nav-item > .nav-link:hover {
    color: #fff;
  }
}


@media (max-width: 991.98px) {
  #sportmsTeamNavigation .nav-item.dropdown {
    display: block !important;
    position: relative;
  }
  #sportmsTeamNavigation .dropdown-toggle-split {
    right: 8px;
    position: absolute !important;
    top: 0;
    border-bottom: none;
  }
  #sportmsTeamNavigation .nav-item.dropdown .dropdown-menu {
    border-top: 1px solid white;
    width: 100%;
  }
  #sportmsTeamNavigation .nav-item:first-of-type {
    border-top: 1px solid white;
  }
  #sportmsTeamNavigation .nav-item .nav-item:first-of-type {
    border-top: none;
  }
  #sportmsTeamNavigation .nav-item.dropdown .nav-item {
    border-bottom: none;
  }
  #sportmsTeamNavigation .nav-item.dropdown .nav-link:last-child {
    border-bottom: 1px solid white;
  }
  #sportmsTeamNavigation .nav-item.dropdown .nav-item:last-child > .nav-link {
    border-bottom: none;
  }
  #sportmsTeamNavigation .nav-item .nav-item {
    padding-left: 20px;
  }
  #sportmsTeamNavigation .nav-item .nav-item .nav-item {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
	.dropdown .dropdown .dropdown-toggle-split::after {
		transform: rotate(270deg);
	}
}

/*
 *
 * SPORTMS - TABLES
 *
 */
.tx-sportms .tx-sportms-table th {
    text-align: center;
}

.tx-sportms .tx-sportms-table td {
    vertical-align: middle;
}

.tx-sportms .tx-sportms-table .tx-sportms-table-center {
    text-align: center;
}

.tx-sportms .tx-sportms-table .tx-sportms-table-left {
    text-align: left;
}

.tx-sportms .tx-sportms-table .tx-sportms-table-right {
    text-align: right;
}





/*
 *
 */
.tx-sportms .tx-sportms-list-pagination {
    text-align: center;
}





/*
 *
 * SPORTMS - HEADER
 *
 */
.tx-sportms .tx-sportms-header {
    display: grid;
    margin: 0 0 25px 0;
}

.tx-sportms .tx-sportms-header .tx-sportms-header-box {
    align-content: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tx-sportms .tx-sportms-header .tx-sportms-header-box h3 {
    border: none;
    display: inline-block;
    font-weight: bolder;
    line-height: 1.5em;
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
}

.tx-sportms .tx-sportms-header .tx-sportms-header-box a,
.tx-sportms .tx-sportms-header .tx-sportms-header-box a * {
    color: var(--color1);
}

.tx-sportms .tx-sportms-header .tx-sportms-header-competition,
.tx-sportms .tx-sportms-header .tx-sportms-game-header-result,
.tx-sportms .tx-sportms-header .tx-sportms-header-team {
    flex-direction: column;
}

.tx-sportms .tx-sportms-header .tx-sportms-game-header-result {
    margin: 0 auto;
    min-width: 120px;
}

.tx-sportms .tx-sportms-game-result-main {
    background-color: var(--color3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.tx-sportms .tx-sportms-header .tx-sportms-game-header-result .tx-sportms-game-header-result-main {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 180%;
    padding: 10px;
}

.tx-sportms .tx-sportms-header .tx-sportms-game-header-result .tx-sportms-game-header-result-sub {
    background-color: var(--color2);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--color3);
    padding: 4px;
}


/*
 *
 * GAME
 *
 */
.tx-sportms .tx-sportms-game-header {
    grid-row-gap: 5px;
    grid-template-columns: 20% 16% 28% 16% 20%;
}

.tx-sportms .tx-sportms-game-header .tx-sportms-header-box.tx-sportms-header-competition {
    grid-column: 2 / 5;
}

.tx-sportms .tx-sportms-game-header .tx-sportms-header-box.tx-sportms-header-competition a {
    color: var(--color3);
}

.tx-sportms .tx-sportms-game-header .tx-sportms-header-box.tx-sportms-header-result {
    grid-column: 3 / 4;
}

.tx-sportms .tx-sportms-game-header .tx-sportms-header-team:nth-of-type(2) {
    grid-column: 1 / 3;
}

.tx-sportms .tx-sportms-game-header .tx-sportms-header-team:nth-of-type(4) {
    grid-column: 4 / 6;
}

.tx-sportms .tx-sportms-game-index h4 {
    border: none;
    display: block;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.5rem !important;
    margin-top: 2.5rem !important;
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}

.tx-sportms .tx-sportms-game-change-entry {
    display: grid;
    grid-template-columns: 1fr 50px 50px 1fr;
    margin: 6px 0;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change {
    display: grid !important;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-home {
    grid-template-columns: 1fr 50px;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-guest .tx-sportms-game-change-arrow-in,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-guest .tx-sportms-game-change-arrow-out,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-home .tx-sportms-game-change-person-in,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-home .tx-sportms-game-change-person-out {
    grid-column: 1 / 2;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-guest .tx-sportms-game-change-person-in,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-guest .tx-sportms-game-change-person-out,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-home .tx-sportms-game-change-arrow-in,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-home .tx-sportms-game-change-arrow-out {
    grid-column: 2 / 3;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-arrow-in,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-person-in {
    grid-row: 1;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-arrow-out,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-person-out {
    grid-row: 2;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-guest {
    grid-template-columns: 50px 1fr;
}

.tx-sportms .tx-sportms-game-goal {
    display: grid;
    grid-template-columns: 1fr 50px 120px 50px 1fr;
    margin: 6px 0;
}

.tx-sportms .tx-sportms-game-goal-none,
.tx-sportms .tx-sportms-game-lineup-none,
.tx-sportms .tx-sportms-game-trainer-none,
.tx-sportms .tx-sportms-game-substitute-none,
.tx-sportms .tx-sportms-game-change-none {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-arrow,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-time,
.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-score,
.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-time {
    text-align: center;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-person,
.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-time,
.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-score,
.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-person,
.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-time {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-home .tx-sportms-game-change-person {
    justify-content: right;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-guest .tx-sportms-game-change-person {
    justify-content: left;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-arrow {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-arrow-in {
    color: darkgreen;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-arrow-out {
    color: darkred;
}

.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-person {
    flex-direction: column;
}

.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-person-home {
    align-items: flex-end;
}

.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-person-guest {
    align-items: flex-start;
}

.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-person .tx-sportms-game-goal-scorer {
    font-weight: bold;
}

.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-person .tx-sportms-game-goal-scorer .tx-sportms-game-goal-type {
    color: var(--color3);
    font-size: 90%;
    font-weight: normal;
}

.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-person .tx-sportms-game-goal-assist {
    color: var(--color3);
    font-size: 90%;
}

.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-score .tx-sportms-game-result-main {
    width: 80px;
}

.tx-sportms .tx-sportms-game-container {
    display: flex;
    flex-direction: row;
}

.tx-sportms .tx-sportms-game-changes .tx-sportms-game-container,
.tx-sportms .tx-sportms-game-goals .tx-sportms-game-container {
    flex-direction: column;
}

.tx-sportms .tx-sportms-game-lineup-home,
.tx-sportms .tx-sportms-game-lineup-guest,
.tx-sportms .tx-sportms-game-trainer-home,
.tx-sportms .tx-sportms-game-trainer-guest {
    width: 50%;
}

.tx-sportms .tx-sportms-game-lineup-entry,
.tx-sportms .tx-sportms-game-trainer-entry {
    display: grid;
    margin: 6px 0;
}

.tx-sportms .tx-sportms-game-lineup-entry .tx-sportms-game-lineup-person,
.tx-sportms .tx-sportms-game-trainer-entry .tx-sportms-game-trainer-person {
    align-items: center;
    display: flex;
}

.tx-sportms .tx-sportms-game-lineup-home .tx-sportms-game-lineup-entry,
.tx-sportms .tx-sportms-game-trainer-home .tx-sportms-game-trainer-entry {
    grid-template-columns: 1fr 50px;
}

.tx-sportms .tx-sportms-game-lineup-guest .tx-sportms-game-lineup-entry,
.tx-sportms .tx-sportms-game-trainer-guest .tx-sportms-game-trainer-entry {
    grid-template-columns: 50px 1fr;
}

.tx-sportms .tx-sportms-game-lineup-guest .tx-sportms-game-lineup-entry .tx-sportms-game-lineup-person,
.tx-sportms .tx-sportms-game-trainer-guest .tx-sportms-game-trainer-entry .tx-sportms-game-trainer-person {
    grid-column: 2 / 3;
    grid-row: 1;
}

.tx-sportms .tx-sportms-game-lineup-guest .tx-sportms-game-lineup-entry .tx-sportms-game-lineup-jerseynumber,
.tx-sportms .tx-sportms-game-trainer-guest .tx-sportms-game-trainer-entry .tx-sportms-game-trainer-jerseynumber {
    grid-column: 1 / 2;
    grid-row: 1;
}

.tx-sportms .tx-sportms-game-lineup-home .tx-sportms-game-lineup-entry .tx-sportms-game-lineup-person,
.tx-sportms .tx-sportms-game-trainer-home .tx-sportms-game-trainer-entry .tx-sportms-game-trainer-person {
    justify-content: right;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-home {
    justify-content: right;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-guest {
    justify-content: left;
}

.tx-sportms .tx-sportms-game-lineup-entry .tx-sportms-game-lineup-jerseynumber,
.tx-sportms .tx-sportms-game-trainer-entry .tx-sportms-game-trainer-jerseynumber {
    display: flex;
    justify-content: center;
    text-align: center;
}

.tx-sportms .tx-sportms-game-change-entry .tx-sportms-game-change-time .tx-sportms-game-change-minute,
.tx-sportms .tx-sportms-game-goal .tx-sportms-game-goal-time .tx-sportms-game-goal-minute,
.tx-sportms .tx-sportms-game-lineup-entry .tx-sportms-game-lineup-jerseynumber .tx-sportms-game-lineup-number,
.tx-sportms .tx-sportms-game-trainer-entry .tx-sportms-game-trainer-jerseynumber .tx-sportms-game-trainer-number {
    align-items: center;
    background-color: var(--color2);
    border-radius: 100%;
    display: flex;
    font-size: 11px;
    height: 32px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 32px;
}


/*
 *
 * PERSON
 *
 */
.tx-sportms-container .tx-sportms-person-detail .label {
    background-color: #d5d5d5;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    color: black;
    display: table-cell;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 9px;
    text-align: left;
}

.tx-sportms .tx-sportms-person-in-table {
    display: grid;
    grid-template-columns: 45px 1fr;
}
.tx-sportms .tx-sportms-person-in-table .tx-sportms-person-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.tx-sportms .tx-sportms-person-in-table .tx-sportms-person-name {
    font-weight: bold;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.tx-sportms .tx-sportms-person-in-table .tx-sportms-person-date-of-birth {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.tx-sportms .tx-sportms-person-in-table .tx-sportms-person-name,
.tx-sportms .tx-sportms-person-in-table .tx-sportms-person-date-of-birth {
    align-items: center;
    display: flex;
}




/*
 *
 * TEAMSEASON
 *
 */
.tx-sportms-teamseason-image img {
    height: auto;
    max-width: 100%;
}

.tx-sportms-teamseason-image-description {
    background-color: #E7E7E7;
    padding: 8px 10px;
}

.tx-sportms-teamseason-image-description p {
    font-size: 85%;
    margin: 0;
}

.tx-sportms-teamseason-practices table {
    width: 100%;
}

.tx-sportms-teamseason-practices table tr td:first-of-type {
    font-weight: bold;
    text-align: left;
}

.tx-sportms-teamseason-practices table p {
    margin: 0;
}

.tx-sportms-teamseason-practices,
.tx-sportms-teamseason-officials,
.tx-sportms-teamseason-squad-position,
.tx-sportms-teamseason-squad-captains {
    padding: 0;
}

.tx-sportms-teamseason-practices .tx-sportms-teamseason-practices h3,
.tx-sportms-teamseason-officials .tx-sportms-teamseason-officials h3,
.tx-sportms-teamseason-squad .tx-sportms-teamseason-squad-position h3,
.tx-sportms-teamseason-squad-captains .tx-sportms-teamseason-squad-captains h3 {
    color: var(--color1);
    display: inline-block;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0px !important;
    text-transform: uppercase;
}

.tx-sportms-teamseason-practices .tx-sportms-teamseason-practices h3:before,
.tx-sportms-teamseason-officials .tx-sportms-teamseason-officials h3:before,
.tx-sportms-teamseason-squad .tx-sportms-teamseason-squad-position h3:before,
.tx-sportms-teamseason-squad-captains .tx-sportms-teamseason-squad-captains h3:before {
    content: "ll";
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 10px;
    text-transform: none;
}

.tx-sportms-teamseason-image .tx-sportms-teamseason-image-seperator,
.tx-sportms-teamseason-practices .tx-sportms-teamseason-practices-seperator,
.tx-sportms-teamseason-officials .tx-sportms-teamseason-officials-seperator,
.tx-sportms-teamseason-squad .tx-sportms-teamseason-squad-position-seperator {
    margin-bottom: 50px;
}

.tx-sportms-teamseason-official-wrapper a,
.tx-sportms-teamseason-squadmember-wrapper a {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.tx-sportms-teamseason-official,
.tx-sportms-teamseason-squadmember {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 4px;
    position: relative;
}

.tx-sportms-teamseason-official a::after,
.tx-sportms-teamseason-squadmember a::after {
    background-color: rgba(195, 13, 0, 0.7);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 0.4s;
    width: 100%;
    z-index: 100;
}

.tx-sportms-teamseason-official a:hover::after,
.tx-sportms-teamseason-squadmember a:hover::after {
    opacity: 1;
}

.tx-sportms-teamseason-official .official-image img,
.tx-sportms-teamseason-squadmember .squadmember-image img {
    height: auto !important;
    max-width: 100%;
    width: 100%;
}

.tx-sportms-teamseason-official .official-info,
.tx-sportms-teamseason-squadmember .squadmember-info {
    background-color: #E7E7E7;
    font-weight: bold;
    padding: 5% 7.5%;
    font-size: 1rem;
    color: #333;
}

.tx-sportms-teamseason-official .official-jerseynumber,
.tx-sportms-teamseason-squadmember .squadmember-jerseynumber {
    display: inline-block;
    color: #c00;
    font-size: 2.75rem;
    text-align: left;
    margin-right: .125em;
}

.tx-sportms-teamseason-official .official-name,
.tx-sportms-teamseason-squadmember .squadmember-name {
    display: inline-block;
}

.tx-sportms-teamseason-official .official-firstname,
.tx-sportms-teamseason-squadmember .squadmember-firstname,
.tx-sportms-teamseason-official .official-lastname,
.tx-sportms-teamseason-squadmember .squadmember-lastname {
    color: #333;
    font-size: 15px;
    font-size: .9375rem;
    font-weight: normal;
    display: block;
    text-transform: uppercase;
    margin-left: 0;
}

.tx-sportms-teamseason-official .official-lastname,
.tx-sportms-teamseason-squadmember .squadmember-lastname {
    color: #c00;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1em;
}

.tx-sportms-club-in-table,
.tx-sportms-club-in-table a,
.tx-sportms-club-in-table span,
.tx-sportms-team-in-table,
.tx-sportms-team-in-table a,
.tx-sportms-team-in-table span {
    display: inline-grid;
    grid-gap: 5px;
}

.tx-sportms-club-in-table .tx-sportms-club-label,
.tx-sportms-club-in-table .tx-sportms-club-logo,
.tx-sportms-team-in-table .tx-sportms-team-label,
.tx-sportms-team-in-table .tx-sportms-club-logo {
    grid-row: 1;
}

.tx-sportms-table-left .tx-sportms-club-in-table .tx-sportms-club-logo,
.tx-sportms-table-right .tx-sportms-club-in-table .tx-sportms-club-label,
.tx-sportms-table-left .tx-sportms-team-in-table .tx-sportms-club-logo,
.tx-sportms-table-right .tx-sportms-team-in-table .tx-sportms-team-label {
    grid-column-start: 1;
    grid-column-end: 2;
}

.tx-sportms .tx-sportms-header .tx-sportms-header-box a:hover img {
    -webkit-transform: none !important;
    transform: none !important;
}

.tx-sportms-table-left .tx-sportms-club-in-table .tx-sportms-club-label,
.tx-sportms-table-right .tx-sportms-club-in-table .tx-sportms-club-logo,
.tx-sportms-table-left .tx-sportms-team-in-table .tx-sportms-team-label,
.tx-sportms-table-right .tx-sportms-team-in-table .tx-sportms-club-logo {
    grid-column-start: 2;
    grid-column-end: 3;
}

.tx-sportms-club-in-table .tx-sportms-club-label,
.tx-sportms-team-in-table .tx-sportms-team-label {
    display: flex;
    align-items: center;
}


/**
 * BOOTSTRAP - BREAKPOINTS
 * v3.4: https://getbootstrap.com/docs/3.4/css/#grid-media-queries
 * v4.1: https://getbootstrap.com/docs/4.1/layout/overview/
 * v5.0: https://getbootstrap.com/docs/5.0/layout/breakpoints/
 */


/*
 * MEDIAQUERIES - Phones
 */
@media screen and (max-width: 576px) {
    .tx-sportms .tx-sportms-dbstats {
        grid-template-columns: 50% 50%;
    }

    .tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(1),
    .tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(3),
    .tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(5) {
        grid-column: 1/2;
    }

    .tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(2),
    .tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(4),
    .tx-sportms .tx-sportms-dbstats .tx-sportms-dbstat-item:nth-of-type(6) {
        grid-column: 2/3;
    }

    .tx-sportms-teamseason-official .official-jerseynumber,
    .tx-sportms-teamseason-squadmember .squadmember-jerseynumber {
        display: none;
    }

    .tx-sportms .tx-sportms-game-header .tx-sportms-header-box.tx-sportms-header-competition {
        display: none;
    }

    .tx-sportms .tx-sportms-game-header .tx-sportms-header-box.tx-sportms-header-team img {
        height: 40px;
        width: auto !important;
    }

    .tx-sportms .tx-sportms-game-header .tx-sportms-header-box.tx-sportms-header-team h3 {
        font-size: 85%;
    }

    .tx-sportms .tx-sportms-header .tx-sportms-game-header-result {
        font-size: 80%;
        min-width: 60px;
    }

    .tx-sportms .tx-sportms-header .tx-sportms-game-header-result .tx-sportms-game-header-result-main {
        padding: 8px 6px;
    }

    .tx-sportms .tx-sportms-game-goal {
        grid-template-columns: 1fr 50px 60px 50px 1fr;
        margin: 4px 0;
    }
}


/*
 * MEDIAQUERIES - Tablets
 */
@media screen and (max-width: 768px) {

}


/*
 * MEDIAQUERIES - Desktop
 */
@media screen and (max-width: 992px) {

}