<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.competition.competitionTypesSelectbox || settings.section.sectionsSelectbox}">
    <div class="tx-clubms-list-filter">
        <f:form action="list" controller="ClubSection" extensionName="clubms" method="POST" noCache="TRUE" noCacheHash="TRUE" pageUid="{settings.clubSection.listPid}" pluginName="clubms">
            <div class="form-row">
                <f:if condition="{settings.competition.competitionTypesSelectbox}">
                    <div class="col-xs-12">
                        <f:render arguments="{options: competitionTypesSelectbox, value: settings.competition.competitionType.selected}" partial="Select/CompetitionType"/>
                    </div>
                </f:if>
                <f:if condition="{settings.section.sectionsSelectbox}">
                    <div class="col-xs-12">
                        <f:render arguments="{options: sectionsSelectbox, value: settings.section.selected}" partial="Select/Section"/>
                    </div>
                </f:if>
                <f:if condition="{settings.section.sectionAgeGroupsSelectbox}">
                    <div class="col-xs-12">
                        <f:render arguments="{options: sectionAgeGroupsSelectbox, value: settings.section.sectionAgeGroup.selected}" partial="Select/SectionAgeGroup"/>
                    </div>
                </f:if>
                <f:if condition="{settings.section.sectionAgeLevelsSelectbox}">
                    <div class="col-xs-12">
                        <f:render arguments="{options: sectionAgeLevelsSelectbox, value: settings.section.sectionAgeLevel.selected}" partial="Select/SectionAgeLevel"/>
                    </div>
                </f:if>
                <div class="col-xs-4">
                    <f:form.submit class="btn btn-primary" value="Los"/>
                </div>
            </div>
        </f:form>
    </div>
</f:if>

</html>