<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.competition.navigation.enabled}">
    <div class="tx-sportms-navigation tx-sportms-competition-navigation">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#competitionNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="competitionNavbar">
                <ul class="nav navbar-nav">
                    <li><sportms:link.action action="gameday" controller="CompetitionSeason" CompetitionSeason="{competitionSeason}">Spieltag</sportms:link.action></li>
                    <li><sportms:link.action action="teams" controller="CompetitionSeason" CompetitionSeason="{competitionSeason}">Mannschaften</sportms:link.action></li>
                    <li><sportms:link.action action="clubs" controller="CompetitionSeason" CompetitionSeason="{competitionSeason}">Vereine</sportms:link.action></li>
                </ul>
            </div>
        </nav>
    </div>
</f:if>

</html>