<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.competition.showNavigation.enabled}">
    <ul>
        <f:if condition="{settings.competition.showNavigation.index}">
            <li><sportms:link.action Club="{club}" Show="index">Start</sportms:link.action></li>
        </f:if>
        <f:if condition="{settings.competition.showNavigation.games}">
            <li><sportms:link.action Club="{club}" Show="games">Spiele</sportms:link.action></li>
        </f:if>
        <f:if condition="{settings.competition.showNavigation.teams}">
            <li><sportms:link.action Club="{club}" Show="teams">Mannschaften</sportms:link.action></li>
        </f:if>
    </ul>
</f:if>

</html>