<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.season.selectbox.enabled} ||
                 {settings.competitionSeasonGameday.selectbox.enabled}">
	<div class="tx-sportms-filter">
		<f:form action="games" arguments="{teamSeason: teamSeason}"
				class="form-horizontal" controller="CompetitionSeason"
				extensionName="sportms" method="POST"
				objectName="competitionSeason"
				pageUid="{settings.competitionSeason.gameday.pid}"
				pluginName="competition" enctype="multipart/form-data">
			<f:render
					arguments="{options: competitionSeasons,             settings: settings,     value: competitionSeason}"
					partial="Form/Select/CompetitionSeason"/>
			<f:render
					arguments="{options: competitionSeasonGamedays,      settings: settings,     value: competitionSeasonGameday,     competitionSeason: competitionSeason}"
					partial="Form/Select/CompetitionSeasonGameday"/>
			<f:render partial="Form/Submit"/>
		</f:form>
	</div>
</f:if>

</html>