<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.season.seasonsSelectbox}">
    <div class="tx-sportms-filter">
        <f:form action="gamesByCompetition" arguments="{teamSeason: teamSeason}" class="form-horizontal" controller="TeamSeason" extensionName="sportms" method="POST" noCache="TRUE" noCacheHash="TRUE" pageUid="{settings.teamSeason.gamesByCompetition.pid}" pluginName="sportms">
            <f:render arguments="{options: teamSeasons,             settings: settings,     value: teamSeason}" partial="Form/Select/TeamSeason"/>
            <f:render partial="Form/Submit"/>
        </f:form>
    </div>
</f:if>

</html>