<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td class="tx-sportms-table-center">
        <sportms:link.action action="gameday" controller="CompetitionSeason" CompetitionSeason="{game.competitionSeason}" CompetitionSeasonGameday="{game.gameday}">
            {game.gameday.label}
        </sportms:link.action>
    </td>
    <td class="tx-sportms-table-center"><f:format.date format="{settings.format.dateLong}">{game.date}</f:format.date></td>
    <td class="tx-sportms-table-center"><f:format.date format="{settings.format.timeLong}">{game.time}</f:format.date></td>
    <td class="tx-sportms-table-center">
        <f:if condition="{teamSeason} == {game.teamSeasonHome}">
            <f:then>
                H
            </f:then>
            <f:else>
                A
            </f:else>
        </f:if>
    </td>
    <td>
        <f:if condition="{teamSeason} == {game.teamSeasonHome}">
            <f:then>
                <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{game.teamSeasonGuest}">{game.teamSeasonGuest.team.label}</sportms:link.action>
            </f:then>
            <f:else>
                <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{game.teamSeasonHome}">{game.teamSeasonHome.team.label}</sportms:link.action>
            </f:else>
        </f:if>
    </td>
    <td class="tx-sportms-table-center"><f:render partial="ViewHelper/Game/Spectators" arguments="{spectators: game.spectators}"/></td>
    <td class="tx-sportms-table-center"><f:render partial="ViewHelper/Game/Result" section="default" arguments="{game: game}" /></td>
</tr>

</html>