<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td class="tx-sportms-table-center">
        <f:format.date format="{settings.format.timeLong}">{game.time}</f:format.date>
    </td>
    <td class="tx-sportms-table-right">
        <f:render partial="ViewHelper/TeamSeason/ItemInTable" arguments="{teamSeason: game.teamSeasonHome}"/>
    </td>
    <td class="tx-sportms-table-center"> - </td>
    <td class="tx-sportms-table-left">
        <f:render partial="ViewHelper/TeamSeason/ItemInTable" arguments="{teamSeason: game.teamSeasonGuest}"/>
    </td>
    <td class="tx-sportms-table-center">
        <f:render partial="ViewHelper/Game/Spectators" arguments="{spectators: game.spectators}" />
    </td>
    <td class="tx-sportms-table-center">
        <f:render partial="ViewHelper/Game/Result" arguments="{game: game}" />
    </td>
</tr>

</html>