<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td class="tx-sportms-table-center">
        <f:format.date format="{settings.format.timeLong}">{game.time}</f:format.date>
    </td>
    <td class="tx-sportms-table-right">
        <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{game.teamSeasonHome}">
            {game.teamSeasonHome.team.label}
            <f:if condition="{game.teamSeasonHome.team.club.logos.0}">
                <f:image image="{game.teamSeasonHome.team.club.logos.0}" height="30"/>
            </f:if>
        </sportms:link.action>
    </td>
    <td class="tx-sportms-table-center"> - </td>
    <td class="tx-sportms-table-left">
        <sportms:link.action action="index" controller="TeamSeason" TeamSeason="{game.teamSeasonGuest}">
            <f:if condition="{game.teamSeasonGuest.team.club.logos.0}">
                <f:image image="{game.teamSeasonGuest.team.club.logos.0}" height="30"/>
            </f:if>
            {game.teamSeasonGuest.team.label}
        </sportms:link.action>
    </td>
    <td class="tx-sportms-table-center">
        <f:render partial="ViewHelper/Game/Spectators" arguments="{spectators: game.spectators}" />
    </td>
    <td class="tx-sportms-table-center">
        <f:render partial="ViewHelper/Game/Result" section="default" arguments="{game: game}" />
    </td>
</tr>

</html>