<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">

    <div class="tx-sportms-dbstats">
        <f:if condition="{clubCount}">
            <f:render arguments="{action: 'list', controller: 'Club', count: clubCount, pageUid: settings.club.list.pid}" partial="SportMS/DbStats/Item"/>
        </f:if>
        <f:if condition="{teamCount}">
            <f:render arguments="{action: 'list', controller: 'Team', count: teamCount, pageUid: settings.team.list.pid}" partial="SportMS/DbStats/Item"/>
        </f:if>
        <f:if condition="{personCount}">
            <f:render arguments="{action: 'list', controller: 'Person', count: personCount, pageUid: settings.person.list.pid}" partial="SportMS/DbStats/Item"/>
        </f:if>
        <f:if condition="{seasonCount}">
            <f:render arguments="{action: 'list', controller: 'Season', count: seasonCount, pageUid: settings.season.list.pid}" partial="SportMS/DbStats/Item"/>
        </f:if>
        <f:if condition="{competitionCount}">
            <f:render arguments="{action: 'list', controller: 'Competition', count: competitionCount, pageUid: settings.competition.list.pid}" partial="SportMS/DbStats/Item"/>
        </f:if>
        <f:if condition="{gameCount}">
            <f:render arguments="{action: 'list', controller: 'Game', count: gameCount, pageUid: settings.game.list.pid}" partial="SportMS/DbStats/Item"/>
        </f:if>
    </div>

</f:section>

</html>