<html data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
    <td class="tx-sportms-table-left">
        <sportms:link.action action="index" controller="Team" Team="{team}">{team.label}</sportms:link.action>
    </td>
    <td class="tx-sportms-table-center">
        <sportms:link.action action="historyRecordGames" controller="Team" Team="{team}">Rekordspiele</sportms:link.action>
    </td>
    <td class="tx-sportms-table-center">
        <sportms:link.action action="historyRecordPlayers" controller="Team" Team="{team}">RekordspielerInnen</sportms:link.action>
    </td>
</tr>

</html>