<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
	<td class="tx-sportms-table-left">
		<f:render arguments="{teamSeason: team.teamSeasons.0}"
				  partial="ViewHelper/TeamSeason/ItemInTable"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render arguments="{team: team}"
				  partial="ViewHelper/LinkAction/Team/GamesByCompetition"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render arguments="{team: team}"
				  partial="ViewHelper/LinkAction/Team/HistoryRecordGames"/>
	</td>
	<td class="tx-sportms-table-center">
		<f:render arguments="{team: team}"
				  partial="ViewHelper/LinkAction/Team/HistoryRecordPlayers"/>
	</td>
</tr>

</html>