<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.club.clubsSelectbox}">
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">Verein:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <f:form.select class="form-control" name="selectClub" optionLabelField="name" optionValueField="uid" options="{options}" prependOptionLabel="Alle Vereine" prependOptionValue="" sortByOptionLabel="TRUE" value="{value}"/>
            </div>
        </div>
    </div>
</f:if>

</html>