<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.competition.competitionsSelectbox}">
    <div class="form-group form-group-sm">
        <label class="col-xs-12 col-sm-3 control-label">Wettbewerb:</label>
        <div class="col-xs-12 col-sm-9">
            <f:form.select class="form-control" name="selectCompetition" optionLabelField="name" optionValueField="uid" options="{options}" prependOptionLabel="Alle Wettbewerbe" prependOptionValue="" sortByOptionLabel="TRUE" value="{value}"/>
        </div>
    </div>
</f:if>

</html>