<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="	{settings.competitionSeasonGameday.selectbox.enabled} &&
					{settings.competition.selectbox.selected} &&
					{settings.season.selectbox.selected}">
	<f:render partial="Form/Select/Generic"
			  arguments="{model: 'competitionSeasonGameday', options: options, prependOption: 'false', sortByOptionLabel: 'true', value: settings.competitionSeasonGameday.selectbox.selected}"/>
</f:if>

</html>