<html data-namespace-typo3-fluid="true"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:if condition="{settings.competition.competitionsSelectbox}">
    <div class="form-group form-group-sm">
        <label class="hidden-xs col-sm-3 control-label">Wettbewerb:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="clubmsicon clubmsicon-competition"></i></span>
                <v:form.select class="form-control" name="selectCompetition" optionLabelField="name" optionValueField="uid" value="{value}">
                    <v:form.select.option value="">Alle Wettbewerbe</v:form.select.option>
                    <f:groupedFor as="competitionsBySection" each="{options}" groupBy="section" groupKey="section">
                        <v:form.select.optgroup class="form-control" label="{section.label}" title="{section.label}"/>
                        <f:for as="competitionBySection" each="{competitionsBySection}">
                            <v:form.select.option value="{competitionBySection.uid}">{competitionBySection.name}</v:form.select.option>
                        </f:for>
                    </f:groupedFor>
                </v:form.select>
                <f:form.select class="form-control" name="selectCompetition" optionLabelField="name" optionValueField="uid" options="{options}" prependOptionLabel="Alle Wettbewerbe" prependOptionValue="" sortByOptionLabel="TRUE" value="{value}"/>
            </div>
        </div>
    </div>
</f:if>

</html>