<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.competition.competitionTypesSelectbox}">
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label">Wettbewerbsart:</label>
        <div class="col-xs-12 col-sm-9">
            <f:form.select class="form-control" name="selectCompetitionType" optionLabelField="label" optionValueField="uid" options="{options}" prependOptionLabel="Alle Wettbewerbsarten" prependOptionValue="" sortByOptionLabel="TRUE" value="{value}"/>
        </div>
    </div>
</f:if>

</html>