<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="form-group form-group-sm">
	<label class="hidden-xs col-sm-3 control-label">
		<f:translate key="tx_sportms_domain_model_{f:format.case(mode: 'lower', value: model)}"/>
		:
	</label>
	<div class="col-xs-12 col-sm-9">
		<div class="input-group">
			<span class="input-group-addon">
				<i class="sportmsicon sportmsicon-{f:format.case(mode: 'lower', value: model)}"></i>
			</span>
			<f:form.select class="form-control"
						   name="{model}"
						   optionLabelField="{optionLabelField}"
						   optionValueField="{optionValueField}"
						   options="{options}"
						   prependOptionLabel="{f:translate(key: 'tx_sportms_select.{f:format.case(mode: \'lower\', value: model)}.all')}"
						   prependOptionValue="{prependOptionValue}"
						   sortByOptionLabel="{sortByOptionLabel}"
						   value="{value}"/>
		</div>
	</div>
</div>

</html>