<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.season.seasonsSelectbox}">
    <div class="form-row">
        <div class="col-xs-12">
            <f:form.select class="form-control" name="selectSeason" optionLabelField="seasonName" optionValueField="uid" options="{options}" prependOptionLabel="Alle Saisons" prependOptionValue="" sortByOptionLabel="TRUE" value="{value}"/>
        </div>
    </div>
</f:if>

</html>