<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.section.sectionAgeGroupsSelectbox}">
    <div class="form-group form-group-sm">
        <label class="hidden-xs col-sm-3 control-label">Altersgruppe:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="clubmsicon clubmsicon-sectionagegroup"></i></span>
                <f:form.select class="form-control" name="selectSectionAgeGroup" optionLabelField="label" optionValueField="uid" options="{options}" prependOptionLabel="Alle Altersgruppen" prependOptionValue="" sortByOptionLabel="TRUE" value="{value}"/>
            </div>
        </div>
    </div>
</f:if>

</html>