<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.sectionAgeGroup.selected} && {settings.sectionAgeLevel.sectionAgeLevelsSelectbox}">
    <div class="form-group form-group-sm">
        <label class="hidden-xs col-sm-3 control-label">Altersstufe:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="clubmsicon clubmsicon-sectionagelevel"></i></span>
                <f:form.select class="form-control" name="selectSectionAgeLevel" optionLabelField="label" optionValueField="uid" prependOptionLabel="Alle Altersstufen" prependOptionValue="" value="{value}">
                    <f:groupedFor as="sectionAgeLevelsBySectionAgeGroup" each="{options}" groupBy="sectionAgeGroup" groupKey="sectionAgeGroup">
                        <f:form.select.optgroup class="form-control" label="{sectionAgeGroup.label}" title="{sectionAgeGroup.label}"/>
                        <f:for as="sectionAgeLevelBySectionAgeGroup" each="{sectionAgeLevelsBySectionAgeGroup}">
                            <f:form.select.option value="{sectionAgeLevelBySectionAgeGroup.uid}">{sectionAgeLevelBySectionAgeGroup.label}</f:form.select.option>
                        </f:for>
                    </f:groupedFor>
                </f:form.select>
            </div>
        </div>
    </div>
</f:if>

</html>