<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.section.selected} && {settings.sectionAgeGroup.sectionAgeGroupsSelectbox}">
    <div class="form-group form-group-sm">
        <label class="hidden-xs col-sm-3 control-label">Altersgruppe:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="sportmsicon sportmsicon-sectionagegroup"></i></span>
                <f:form.select class="form-control" name="selectSectionAgeGroup" optionLabelField="label" optionValueField="uid" prependOptionLabel="Alle Altersgruppen" prependOptionValue="" value="{value}">
                    <f:groupedFor as="sectionAgeGroupsBySection" each="{options}" groupBy="section" groupKey="section">
                        <f:form.select.optgroup class="form-control" label="{section.label}" title="{section.label}"/>
                        <f:for as="sectionAgeGroupBySection" each="{sectionAgeGroupsBySection}">
                            <f:form.select.option value="{sectionAgeGroupBySection.uid}">{sectionAgeGroupBySection.label}</f:form.select.option>
                        </f:for>
                    </f:groupedFor>
                </f:form.select>
            </div>
        </div>
    </div>
</f:if>

</html>