<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if	condition="	{settings.sport.selectbox.enabled} ||
					{settings.club.selectbox.enabled} ||
					{settings.team.selectbox.enabled} ||
					{settings.season.selectbox.enabled}">
	<div class="form-group form-group-sm">
		<label class="hidden-xs col-sm-3 control-label">Team:</label>
		<div class="col-xs-12 col-sm-9">
			<div class="input-group">
				<span class="input-group-addon"><i
						class="sportmsicon sportmsicon-team"></i></span>
				<f:form.select class="form-control" name="selectTeam"
							   optionLabelField="name" optionValueField="uid"
							   prependOptionLabel="Alle Teams"
							   prependOptionValue="" value="{value}">
					<f:groupedFor as="teamsBySport" each="{options}"
								  groupBy="sport" groupKey="sport">
						<f:form.select.optgroup class="form-control"
												label="{sport.label}"
												title="{sport.label}"/>
						<f:for as="teamBySport" each="{teamsBySport}">
							<f:form.select.option value="{teamBySport.uid}">
								{teamBySport.label}
							</f:form.select.option>
						</f:for>
					</f:groupedFor>
				</f:form.select>
			</div>
		</div>
	</div>
</f:if>

</html>