<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{settings.team.teamsSelectbox}">
    <div class="form-group form-group-sm">
        <label class="hidden-xs col-sm-3 control-label">Team:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="clubmsicon clubmsicon-team"></i></span>
                <f:form.select class="form-control" name="selectTeam" optionLabelField="name" optionValueField="uid" prependOptionLabel="Alle Teams" prependOptionValue="" value="{value}">
                    <f:groupedFor as="teamsByClubSection" each="{options}" groupBy="clubSection" groupKey="clubSection">
                        <f:form.select.optgroup class="form-control" label="{clubSection.club.name}: {clubSection.section.label}" title="{clubSection.club.name}: {clubSection.section.label}"/>
                        <f:for as="teamByClubSection" each="{teamsByClubSection}">
                            <f:form.select.option value="{teamByClubSection.uid}">{teamByClubSection.name}</f:form.select.option>
                        </f:for>
                    </f:groupedFor>
                </f:form.select>
                <f:if condition="{settings.section.selected && !settings.club.selected}">
                    <f:then>

                    </f:then>
                    <f:else>

                    </f:else>
                </f:if>
                <f:form.select class="form-control" name="selectTeam" optionLabelField="name" optionValueField="uid" options="{options}" prependOptionLabel="Alle Teams" prependOptionValue="" sortByOptionLabel="TRUE" value="{value}"/>
            </div>
        </div>
    </div>
</f:if>

</html>