<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{  settings.section.sectionsSelectbox ||
                    settings.club.clubsSelectbox ||
                    settings.team.teamsSelectbox ||
                    settings.season.seasonsSelectbox}">
    <div class="form-group form-group-sm">
        <label class="hidden-xs col-sm-3 control-label">Team:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="sportmsicon sportmsicon-team"></i></span>
                <f:form.select class="form-control" name="selectTeam" optionLabelField="name" optionValueField="uid" prependOptionLabel="Alle Teams" prependOptionValue="" value="{value}">
                    <f:groupedFor as="teamsByClubSection" each="{options}" groupBy="clubSection" groupKey="clubSection">
                        <f:if condition='({settings.club.selected}) && (!{settings.section.selected})'>
                            <f:form.select.optgroup class="form-control" label="{clubSection.sport.label}" title="{clubSection.sport.label}"/>
                        </f:if>
                        <f:if condition='(!{settings.club.selected}) && ({settings.section.selected})'>
                            <f:form.select.optgroup class="form-control" label="{clubSection.club.name}" title="{clubSection.club.name}"/>
                        </f:if>
                        <f:if condition="(!{settings.club.selected}) && (!{settings.section.selected})">
                            <f:form.select.optgroup class="form-control" label="{clubSection.club.name}: {clubSection.section.label}" title="{clubSection.club.name}: {clubSection.section.label}"/>
                        </f:if>
                        <f:for as="teamByClubSection" each="{teamsByClubSection}">
                            <f:form.select.option value="{teamByClubSection.uid}">{teamByClubSection.label}</f:form.select.option>
                        </f:for>
                    </f:groupedFor>
                </f:form.select>
            </div>
        </div>
    </div>
</f:if>

</html>