<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="tx-sportms-teamseason-squadmember col-xs-4 col-sm-3 col-md-3">
        <div class="tx-sportms-teamseason-squadmember-wrapper">
            <f:link.action controller="Person" action="show" additionalParams="{tx_sportms_sportms: '{person: squadCaptain.person, section: squadCaptain.teamSeason.team.clubSection.section, profile: \"player\"}'}" pageUid="{settings.person.showPid}">
                <div class="squadmember-image">
                    <f:if condition="{squadCaptain.person.personProfiles}">
                        <f:then>
                            <f:for each="{squadCaptain.person.personProfiles}" as="personProfile">
                                <f:if condition="({personProfile.section} == {squadCaptain.teamSeason.team.clubSection.section}) && ({personProfile.profileType} == 'player') && {personProfile.profileImages.0}">
                                    <f:image image="{personProfile.profileImages.0}"/>
                                </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:if condition="{squadCaptain.person.gender} == 'm'">
                                <f:then>
                                    <f:image src="{settings.person.dummyImageMale}"/>
                                </f:then>
                                <f:else>
                                    <f:image src="{settings.person.dummyImageFemale}"/>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
                <div class="squadmember-info">
                    <div class="squadmember-jerseynumber">
                        {position+1}.
                    </div>
                    <div class="squadmember-name">
                        <span class="squadmember-firstname">{squadCaptain.person.firstname}</span>
                        <span class="squadmember-lastname">{squadCaptain.person.lastname}</span>
                    </div>
                </div>
            </f:link.action>
        </div>
    </div>

</html>