<div class="tx-clubms-teamseason-squadmember col-xs-6 col-sm-4 col-md-3">

    <f:link.action controller="Person" action="show" additionalParams="{tx_clubms_clubms: '{person: squadMember.person, section: squadMember.teamSeason.team.clubSection.section, profile: \"player\"}'}" pageUid="{settings.person.showPid}">
        <div class="squadmember-image">
            <f:if condition="{squadMember.person.personProfiles}">
                <f:then>
                    <f:for each="{squadMember.person.personProfiles}" as="personProfile">
                        <f:if condition="{personProfile.section} == {squadMember.teamSeason.team.clubSection.section}">
                            <f:image image="{personProfile.profileImages.0}"/>
                        </f:if>
                    </f:for>
                </f:then>
                <f:else>
                    <f:if condition="{squadMember.person.gender} == 'm'">
                        <f:debug>{settings}</f:debug>
                        <!--
                        <f:then>
                            <f:image src="{settings.person.dummy-male}"/>
                        </f:then>
                        <f:else>
                            <f:image src="{settings.person.dummy-female}"/>
                        </f:else>
                        -->
                    </f:if>
                </f:else>
            </f:if>
        </div>
        <div class="squadmember-info">
            <div class="squadmember-jerseynumber">
                <f:if condition="{squadMember.jerseyNumber}">
                    <f:then>
                        {squadMember.jerseyNumber}
                    </f:then>
                    <f:else>
                        <f:spaceless><f:format.crop maxCharacters="1" append="">{squadMember.person.firstname}</f:format.crop><f:format.crop maxCharacters="1" append="">{squadMember.person.lastname}</f:format.crop></f:spaceless>
                    </f:else>
                </f:if>
            </div>
            <div class="squadmember-name">
                <span class="squadmember-firstname">{squadMember.person.firstname}</span>
                <span class="squadmember-lastname">{squadMember.person.lastname}</span>
            </div>
        </div>
    </f:link.action>
</div>