<div class="tx-clubms-teamseason-squadmember col-xs-6 col-sm-4 col-md-3">
    <!-- TODO: REPLACE pageUid with generic pageUid of this action -->
    <f:link.action controller="Person" action="show" additionalParams="{uid: squadMember.person.uid}" pageUid="2147">
        <div class="squadmember-image"></div>
        <div class="squadmember-info">
            <div class="squadmember-jerseynumber">
                <f:if condition="{squadMember.jerseyNumber}">
                    <f:then>
                        {squadMember.jerseyNumber}
                    </f:then>
                    <f:else>
                        <f:spaceless><f:format.crop maxCharacters="1" append="">{squadMember.person.firstname}</f:format.crop><f:format.crop maxCharacters="1" append="">{squadMember.person.lastname}</f:format.crop></f:spaceless>
                    </f:else>
                </f:if>
            </div>
            <div class="squadmember-name">
                <span class="squadmember-firstname">{squadMember.person.firstname}</span>
                <span class="squadmember-lastname">{squadMember.person.lastname}</span>
            </div>
        </div>
    </f:link.action>
</div>