<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">

    <div class="tx-clubms-clubms-dbstats">
        <div class="col-xs-6 col-sm-6 col-md-4 tx-clubms-dbstat">
            <f:link.action action="list" controller="Person" pageUid="{settings.person.listPid}">
                <div class="col-xs-12 tx-clubms-dbstat-image">
                    <f:image src="EXT:clubms/Resources/Public/Icons/tx_clubms_domain_model_person.svg"/>
                </div>
                <div class="col-xs-12 tx-clubms-dbstat-label">{personCount} Personen</div>
            </f:link.action>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 tx-clubms-dbstat">
            <f:link.action action="list" controller="Club" pageUid="{settings.club.listPid}">
                <div class="col-xs-12 tx-clubms-dbstat-image">
                    <f:image src="EXT:clubms/Resources/Public/Icons/tx_clubms_domain_model_club.svg"/>
                </div>
                <div class="col-xs-12 tx-clubms-dbstat-label">{clubCount} Vereine</div>
            </f:link.action>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 tx-clubms-dbstat">
            <f:link.action action="list" controller="Team" pageUid="{settings.team.listPid}">
                <div class="col-xs-12 tx-clubms-dbstat-image">
                    <f:image src="EXT:clubms/Resources/Public/Icons/tx_clubms_domain_model_team.svg"/>
                </div>
                <div class="col-xs-12 tx-clubms-dbstat-label">{teamCount} Mannschaften</div>
            </f:link.action>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2"></div>
        <div class="col-xs-6 col-sm-6 col-md-4 tx-clubms-dbstat">
            <f:link.action action="list" controller="Game" pageUid="{settings.game.listPid}">
                <div class="col-xs-12 tx-clubms-dbstat-image">
                    <f:image src="EXT:clubms/Resources/Public/Icons/tx_clubms_domain_model_game.svg"/>
                </div>
                <div class="col-xs-12 tx-clubms-dbstat-label">
                    {gameCount} Spiele
                </div>
            </f:link.action>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-0"></div>
        <div class="col-xs-6 col-sm-6 col-md-4 tx-clubms-dbstat">
            <f:link.action action="list" controller="Competition" pageUid="{settings.competition.listPid}">
                <div class="col-xs-12 tx-clubms-dbstat-image">
                    <f:image src="EXT:clubms/Resources/Public/Icons/tx_clubms_domain_model_competition.svg"/>
                </div>
                <div class="col-xs-12 tx-clubms-dbstat-label">{competitionCount} Wettbewerbe</div>
            </f:link.action>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2"></div>
    </div>

</f:section>

</html>