<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="default"/>

<f:section name="default">
    <div class="col-xs-2 col-xs-offset-1"><f:link.action controller="Club" action="list" pageUid="{settings.club.listPid}">{clubCount}Vereine</f:link.action></div>
    <div class="col-xs-2">{competitionCount} Wettbewerbe</div>
    <div class="col-xs-2">{gameCount} Spiele</div>
    <div class="col-xs-2">{personCount}Personen</div>
    <div class="col-xs-2 col-xs-offset-1">{teamCount}Mannschaften</div>
</f:section>

</html>