<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

    <div class="tx-sportms-teamseason-squadmember col-xs-4 col-sm-3 col-md-3">
        <div class="tx-sportms-teamseason-squadmember-wrapper">
            <sportms:link.action action="playerProfile" controller="Person" Person="{squadMember.person}" Sport="{teamSeason.team.sport}">
                <div class="squadmember-image">
                    <f:render partial="ViewHelper/Person/ProfileImage" arguments="{person: squadMember.person, personProfile: '{sportms:person.profile(person: squadMember.person, profileType: \'player\', sport: teamSeason.team.sport)}'}"/>
                </div>
                <div class="squadmember-info">
                    <div class="squadmember-jerseynumber">
                        <f:if condition="{squadMember.squadNumber}">
                            <f:then>
                                <f:if condition="{squadMember.squadNumber} > 9">
                                    <f:then>
                                        {squadMember.squadNumber}
                                    </f:then>
                                    <f:else>
                                        0{squadMember.squadNumber}
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:spaceless><f:format.crop maxCharacters="1" append="">{squadMember.person.firstname}</f:format.crop><f:format.crop maxCharacters="1" append="">{squadMember.person.lastname}</f:format.crop></f:spaceless>
                            </f:else>
                        </f:if>
                    </div>
                    <div class="squadmember-name">
                        <span class="squadmember-firstname">{squadMember.person.firstname}</span>
                        <span class="squadmember-lastname">{squadMember.person.lastname}</span>
                    </div>
                </div>
            </sportms:link.action>
        </div>
    </div>

</html>