<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      xmlns:sportms="Balumedien\Sportms\ViewHelpers">

    <div class="tx-sportms-teamseason-official col-xs-4 col-sm-3 col-md-3">
        <div class="tx-sportms-teamseason-official-wrapper">
            <f:comment>
                <sportms:link.action action="officialProfile" controller="Person" Person="{teamSeasonOfficial.person}" Sport="{teamSeason.team.sport}">
                </sportms:link.action>
            </f:comment>
                <div class="official-image">
                    <f:render partial="ViewHelper/Person/ProfileImage" arguments="{person: teamSeasonOfficial.person, personProfile: '{sportms:person.profile(person: teamSeasonOfficial.person, profileType: \'official\', sport: teamSeason.team.sport)}'}"/>
                </div>
                <div class="official-info">
                    <div class="official-jerseynumber">
                        <f:spaceless><f:format.crop maxCharacters="1" append="">{teamSeasonOfficial.person.firstname}</f:format.crop><f:format.crop maxCharacters="1" append="">{teamSeasonOfficial.person.lastname}</f:format.crop></f:spaceless>
                    </div>
                    <div class="official-name">
                        <span class="official-firstname">{teamSeasonOfficial.person.firstname}</span>
                        <span class="official-lastname">{teamSeasonOfficial.person.lastname}</span>
                    </div>
                </div>
            <f:comment>
                # TODO: close sportms-action ViewHelper here
            </f:comment>
        </div>
    </div>

</html>